swagger: '2.0'
info:
  version: '1.0'
  title: SWITIPS Api v0
  description: API для приложения сканирования QR кодов чеков
host: switips.com
basePath: /api/v1/app
securityDefinitions:
  auth:
    type: apiKey
    in: header
    name: Authorization
    description: 'Token {access_token}'
schemes:
- https 
consumes:
- application/json
produces:
- application/json
paths:
  /Registration:
    post:
      description: "Метод для регистрации пользователей на сервисе"
      tags:
      - Registration
      operationId: Registration
      produces:
      - application/json
      consumes:
      - application/x-www-form-urlencoded
      parameters:
      - name: Language
        in: header
        type: string
        required: true
        description: 'Язык устройства'
        x-example: 'RU'
      - name: login
        in: formData
        type: string
        required: true
        description: 'Имя пользователя'
        x-example: 'capitan_jack'
      - name: email
        in: formData
        required: true
        type: string
        description: 'e-mail пользователя'
        x-example: 'capitanjack@gmail.com'
      - name: password
        in: formData
        required: true
        type: string
        description: 'Пароль'
        x-example: 'vorobei'
      - name: invite_login
        in: formData
        required: true
        type: string
        description: 'login пригласившего пользователя'
        x-example: 'mario'
      - name: subscription_agreement
        in: formData
        required: false
        type: boolean
        description: 'Согласие на получение рекламной рассылки'
        x-example: true
      - in: formData
        name: device_info
        description: 'Информация о девайсе с которого была отправлена информация о чеке'
        required: true
        type: string
      - name: Application-Version
        in: header
        type: string
        required: true
        description: 'Версия приложения'
        x-example: '1.04.55 beta' 
      - name: Application-Platform
        in: header
        type: string
        required: true
        description: 'Платформа'
        x-example: 'iOs'                 
      responses:
        200:
          description: 'Пользователь успешно зарегистрирован'
          schema:
            title: Successful registration
            example:
              key: successfulRegistration
              access_token: 'eyJhbGciOiJIUzI1NiJ9.eyJ1c2VyX2lkIjoyMDIxNzAsImV4cCI6MTUyNDMxNDUyNn0.WKojqh6gLLQJA6ce2aUJj0X_KsubFWB45044HKVdFxA'
            type: object
            properties:
              key:
                description: ''
                example: successfulRegistration
                type: string
              access_token:
                description: ''
                example: 'eyJhbGciOiJIUzI1NiJ9.eyJ1c2VyX2lkIjoyMDIxNzAsImV4cCI6MTUyNDMxNDUyNn0.WKojqh6gLLQJA6ce2aUJj0X_KsubFWB45044HKVdFxA'
                type: string
            required:
            - key
            - access_token
        405:
          description: Login exists
          schema:
            title: Login exists
            example:
              key: loginExists
              msgUser: Указанный логин уже используется другим пользователем, укажите другой логин
              msgDev: указанный логин найден в БД
            type: object
            properties:
              key:
                description: 'Ключ'
                example: loginExists
                type: string
              msgUser:
                description: 'Сообщение для пользователя'
                example: Указанный логин уже используется другим пользователем, укажите другой логин
                type: string
              msgDev:
                description: 'Сообщение для разработчика'
                example: указанный логин найден в БД
                type: string
            required:
            - key
            - msgUser
            - msgDev
        406:
          description: Login is too long
          schema:
            title: Login is too long
            example:
              key: loginIsToLong
              msgUser: Указанный логин содержит слишком много символов. Максимальная длина логина 30 символов.
              msgDev: Указанный логин длиннее 30 символов
            type: object
            properties:
              key:
                description: 'Ключ'
                example: loginIsToLong
                type: string
              msgUser:
                description: 'Сообщение для пользователя'
                example: Указанный логин содержит слишком много символов. Максимальная длина логина 30 символов.
                type: string
              msgDev:
                description: 'Сообщение для разработчика'
                example: Указанный логин длиннее 30 символов.
                type: string
            required:
            - key
            - msgUser
            - msgDev
        407:
          description: Login is too short
          schema:
            title: Login is too short
            example:
              key: loginIsToShort
              msgUser: Указанный логин содержит слишком мало символов. Минимальная длина логина 4 символа.
              msgDev: Указанный логин короче 4 символов.
            type: object
            properties:
              key:
                description: 'Ключ'
                example: loginIsToShort
                type: string
              msgUser:
                description: 'Сообщение для пользователя'
                example: Указанный логин содержит слишком мало символов. Минимальная длина логина 4 символа.
                type: string
              msgDev:
                description: 'Сообщение для разработчика'
                example: Указанный логин короче 4 символов.
                type: string
            required:
            - key
            - msgUser
            - msgDev
        408:
          description: Login includes wrong symbols
          schema:
            title: Login includes wrong symbols
            example:
              key: loginIncludesWrongSymbols
              msgUser: Указанный логин содержит недопустимые символы. Логин может содержать только цифры, буквы латинского алфавита, "_", тире и точку.
              msgDev: Указанный логин содержит недопустимые символы.
            type: object
            properties:
              key:
                description: 'Ключ'
                example: loginIncludesWrongSymbols
                type: string
              msgUser:
                description: 'Сообщение для пользователя'
                example: Указанный логин содержит недопустимые символы. Логин может содержать только цифры, буквы латинского алфавита, "_", тире и точку.
                type: string
              msgDev:
                description: 'Сообщение для разработчика'
                example: Указанный логин содержит недопустимые символы.
                type: string
            required:
            - key
            - msgUser
            - msgDev
        409:
          description: Wrong email
          schema:
            title: Wrong email
            example:
              key: wrongEmail
              msgUser: Указан не корректный email, укажите реально существующий email
              msgDev: Указан не корректный email
            type: object
            properties:
              key:
                description: ''
                example: wrongEmail
                type: string
              msgUser:
                description: ''
                example: Указан не корректный email, укажите реально существующий email.
                type: string
              msgDev:
                description: ''
                example: Указан не корректный email
                type: string
            required:
            - key
            - msgUser
            - msgDev
        410:
          description: Password is too short
          schema:
            title: Password is too short
            example:
              key: passwordIsTooShort
              msgUser: Указан слишком короткий пароль. Пароль не может быть короче 6 символов
              msgDev: Пароль не может быть короче 6 символов
            type: object
            properties:
              key:
                description: ''
                example: passwordIsTooShort
                type: string
              msgUser:
                description: ''
                example: Указан слишком короткий пароль. Пароль не может быть короче 6 символов
                type: string
              msgDev:
                description: ''
                example: Пароль не может быть короче 6 символов
                type: string
            required:
            - key
            - msgUser
            - msgDev
        411:
          description: Password is too long
          schema:
            title: Password is too long
            example:
              key: passwordIsTooLong
              msgUser: Указан слишком длинный пароль. Пароль не может быть длиннее 30 символов
              msgDev: Пароль не может быть длиннее 30 символов
            type: object
            properties:
              key:
                description: ''
                example: passwordIsTooLong
                type: string
              msgUser:
                description: ''
                example: Указан слишком длинный пароль. Пароль не может быть длиннее 30 символов
                type: string
              msgDev:
                description: ''
                example: Пароль не может быть длиннее 30 символов
                type: string
            required:
            - key
            - msgUser
            - msgDev
        412:
          description: Password Includes wrong symbols
          schema:
            title: Password Includes wrong symbols
            example:
              key: passwordIncludesWrongSymbols
              msgUser: Пароль содержит неxtверные символы. Пароль должен содержать как минимум одну букву латинского алфавита и одну цифру.
              msgDev: Пароль должен содержать как минимум одну букву латинского алфавита и одну цифру.
            type: object
            properties:
              key:
                description: ''
                example: passwordIncludesWrongSymbols
                type: string
              msgUser:
                description: ''
                example: Пароль должен содержать как минимум одну букву латинского алфавита и одну цифру.
                type: string
              msgDev:
                description: ''
                example: Пароль должен содержать как минимум одну букву латинского алфавита и одну цифру.
                type: string
            required:
            - key
            - msgUser
            - msgDev
        415:
          description: Email exists
          schema:
            title: Email exists
            example:
              key: emailExists
              msgUser: Указанный email уже используется другим пользователем.
              msgDev: Указанный email уже используется другим пользователем.
            type: object
            properties:
              key:
                description: ''
                example: emailExists
                type: string
              msgUser:
                description: ''
                example: Указанный email уже используется другим пользователем.
                type: string
              msgDev:
                description: ''
                example: Указанный email уже используется другим пользователем.
                type: string
            required:
            - key
            - msgUser
            - msgDev
        416:
          description: Invited login is not exist
          schema:
            title: Invited login is not exist
            example:
              key: invitedLoginIsNotExist
              msgUser: Указанный email пригласившего не найден в системе.
              msgDev: Указанный email пригласившего не найден в базе.
            type: object
            properties:
              key:
                description: ''
                example: invitedLoginIsNotExist
                type: string
              msgUser:
                description: ''
                example: Указанный email пригласившего не найден в системе.
                type: string
              msgDev:
                description: ''
                example: Указанный email пригласившего не найден в базе.
                type: string
            required:
            - key
            - msgUser
            - msgDev
      security: []
  /Login:
    post:
      description: "Метод для аутентификации пользователя на сервисе"
      tags:
      - Login
      operationId: Login1
      produces:
      - application/json
      consumes:
      - application/x-www-form-urlencoded
      parameters:
      - name: login
        in: formData
        required: true
        type: string
        description: 'Имя пользователя'
      - name: password
        in: formData
        required: true
        type: string
        description: 'Пароль'
      - in: formData
        name: device_info
        description: 'Информация о девайсе с которого была отправлена информация о чеке'
        required: true
        type: string        
      - name: Language
        in: header
        type: string
        required: true
        description: 'Язык устройства'
        x-example: 'RU'
      - name: Application-Version
        in: header
        type: string
        required: true
        description: 'Версия приложения'
        x-example: '1.04.55 beta' 
      - name: Application-Platform
        in: header
        type: string
        required: true
        description: 'Платформа '
        x-example: 'iOs'         
      responses:
        200:
          description: 'Авторизация прошла успешно'
          schema:
            title: Successful authorisation
            example:
              key: successfulAuthorisation
              access_token: 'eyJhbGciOiJIUzI1NiJ9.eyJ1c2VyX2lkIjoyMDIxNzAsImV4cCI6MTUyNDMxNDUyNn0.WKojqh6gLLQJA6ce2aUJj0X_KsubFWB45044HKVdFxA'
            type: object
            properties:
              key:
                description: ''
                example: successfulAuthorisation
                type: string
              access_token:
                description: ''
                example: 'eyJhbGciOiJIUzI1NiJ9.eyJ1c2VyX2lkIjoyMDIxNzAsImV4cCI6MTUyNDMxNDUyNn0.WKojqh6gLLQJA6ce2aUJj0X_KsubFWB45044HKVdFxA'
                type: string
            required:
            - key
            - access_token           
        401:
          description: Unauthorized
          schema:
            $ref: '#/definitions/Failure'
          examples:
            application/json:
              key: badCredentials
              msgTitle: Ошибка
              msgUser: Неверно введен логин или пароль
              msgDev: Неверно введен логин или пароль
      security: []
  /Logout:
    get:
      description: "Инвалидация выданных токенов для текущего юзера"
      tags:
      - Logout
      operationId: Logout2
      produces:
      - application/json
      parameters: 
      - name: Language
        in: header
        type: string
        required: true
        description: 'Язык устройства'
        x-example: 'RU'      
      responses:
        200:
          description: 'Разавторизация пользователя прошла успешно'
          examples:
            application/json: []
        401:
          description: "Unauthorized"
          examples:
            application/json:
              key: tokenInvalid
              msgUser: Сессия не действительна или истекло время, авторизуйтесь
              msgDev: Сессия не действительна, требуется выдача нового token
              domain: ''
      security:
      - auth: []
  /getVersion:
    get:
      description: 'Получение версии приложения'
      tags:
      - getVersion
      operationId: GetVersion3
      produces:
      - application/json
      consumes:
      - application/x-www-form-urlencoded
      parameters:
      - name: Language
        in: header
        type: string
        required: true
        description: 'Язык устройства'
        x-example: 'RU'
      - name: platform
        in: formData
        description: 'Платформа мобильного устройства'
        type: string
        enum: [ios, android, safari, firefox, chrome]
        required: true
      - name: version
        in: formData
        required: true
        type: string
        description: 'Версия мобильного приложения (0.0.2)'
      responses:
        200:
          description: 'Версия актуальна'
          examples:
            application/json: []
        default:
          description: Internal Server Error
          schema:
            $ref: '#/definitions/VersionParametersError'
          examples:
            application/json:
              key: versionParametersInvalid
              msgUser: Внутренняя ошибка приложения
              msgDev: Ошибка параметров в запросе соответствия версии приложения и API
              domain: ''
        590:
          description: "Unauthorized"
          examples:
            application/json:
              key: versionMismatch
              msgUser: Версия приложения устарела, скачайте обновление
              msgDev: Версия приложения не совпадает с версией API
              domain: ''     
      security: []
  /RestorePassword:
    post:
      description: "Восстановление пароля"
      tags:
      - RestorePassword
      operationId: RestorePassword4
      produces:
      - application/json
      consumes:
      - application/x-www-form-urlencoded
      parameters:
      - name: Language
        in: header
        type: string
        required: true
        description: 'Язык устройства'
        x-example: 'RU'
      - in: formData
        name: login_email
        required: true
        type: string
        description: 'Логин или email пользователя'
      responses:
        200:
          description: 'Верификационный код для восстановления пароля отправлен на почту (или push уведомлением)'
          schema:
            $ref: '#/definitions/UserShort'
          examples:
            application/json:
              user:
              - id: 37967
                login: 'seroga'
        401:
          description: 'Unauthorized'
          examples:
            application/json:
              key: tokenInvalid
              msgUser: 'Сессия не действительна или истекло время, авторизуйтесь'
              msgDev: 'Сессия не действительна, требуется выдача нового token'
              domain: ''
        420:
          description: 'notEnoughData'
          examples:
            application/json:
              key: notEnoughData
              msgUser: 'Не достаточно данных для восстановления'
              msgDev: 'Пользователь не указал ни логина ни email'
              domain: ''
        404:
          description: 'userNorFound'
          examples:
            application/json:
              key: userNorFound
              msgUser: 'Пользователь не найден'
              msgDev: 'Пользователь не найден'
              domain: ''
      security: []
  /SendVerificationCode:
    post:
      description: 'Отправка кода верификации для смены пароля'
      tags:
      - SendVerificationCode
      operationId: SendVerificationCode5
      produces:
      - application/json
      consumes:
      - application/x-www-form-urlencoded
      parameters:
        - name: Language
          in: header
          type: string
          required: true
          description: 'Язык устройства'
          x-example: 'RU'
        - in: formData
          name: verification_code
          required: true
          type: string
          description: 'Код верификации для смены пароля'
        - in: formData
          name: login
          required: true
          type: string
          description: 'Логин пользователя, полученный от метода RestorePassword'
      responses:
        200:
          description: 'Код верификации верный'
          schema:
            $ref: '#/definitions/UserShort'
          examples:
            application/json:
              user:
              - id: 37967
                login: 'seroga'
        423:
          description: "Неверный код верификации"
          examples:
            application/json:
              key: WrongCode
              msgUser: 'Введен неверный код верификации'
              msgDev: 'Введен неверный код верификации'
              domain: ''
      security: []
  /SetNewPassword:
    post:
      description: "Установка нового пароля"
      tags:
      - SetNewPassword
      operationId: SetNewPasport6
      produces:
      - application/json
      consumes:
      - application/x-www-form-urlencoded
      parameters:
        - name: Language
          in: header
          type: string
          required: true
          description: 'Язык устройства'
          x-example: 'RU'
        - in: formData
          name: password
          required: true
          type: string
          description: 'Новый пароль'
        - in: formData
          name: confirm_password
          required: true
          type: string
          description: 'Подтверждение пароля'
        - in: formData
          name: login
          required: true
          type: string
          description: 'Логин пользователя, полученный от метода SendVerificationCode'
        - in: formData
          name: verification_code
          required: true
          type: string
          description: 'Код верификации для смены пароля'
      responses:
        200:
          description: 'Новый пароль задан успешно'
          examples:
            application/json: []
        424:
          description: "Пароль и подтверждение пароля не совпадают"
          examples:
            application/json:
              key: WrongCode
              msgUser: 'Пароль и подтверждение пароля не совпадают'
              msgDev: 'Пароль и подтверждение пароля не совпадают'
              domain: ''
        411:
          description: Password is too short
          examples:
            application/json:
              key: WrongCode
              msgUser: 'Указан слишком короткий пароль. Пароль не может быть короче 6 символов'
              msgDev: 'Пароль не может быть короче 6 символов'
              domain: ''
        412:
          description: Password is too long
          examples:
            application/json:
              key: passwordIsTooLong
              msgUser: 'Указан слишком длинный пароль. Пароль не может быть длиннее 30 символов'
              msgDev: 'Пароль не может быть длиннее 30 символов'
              domain: ''
        413:
          description: Password Includes wrong symbols
          examples:
            application/json:
              key: passwordIncludesWrongSymbols
              msgUser: 'Пароль содержит неверные символы. Пароль может содержать только буквы латинского алфавита и цифры'
              msgDev: 'Пароль содержит неверные символы. Пароль может содержать только буквы латинского алфавита и цифры'
              domain: ''  
      security: []
  /getProfileDetails:
    get:
      description: "Получение профиля текущего авторизованного юзера."
      tags:
      - ProfileDetails
      operationId: ProfileDetails
      produces:
      - application/json
      parameters:
      - name: Language
        in: header
        type: string
        required: true
        description: 'Язык устройства'
        x-example: 'RU'      
      responses:
        200:
          description: 'Данные профиля'
          schema:
            $ref: '#/definitions/User'
          examples:
            application/json:
              user:
              - id: 37967
                first_name: 'Сергей'
                last_name: 'Петров'
                login: 'serega'
                email: 'seregaRulit@gmail.com'
                language: {'RU','EN', 'UK'}
                available_balance: 0.5422
                awaiting_balance: 0.122
                rejected_balance: 0.522
                ref_link: '/ref/6546243243'
                cashback_status: 'silver'
                paypass: true
                invite_login: aragalka
                birthday: 'YYYY-MM-DD'
                country: {
                  id: 232,
                  title: 'Russia'}
                city: {
                  id: 222,
                  title: 'Novosibirsk'}            
                sex: ' Male'
        401:
          description: Unauthorized
          schema:
            $ref: '#/definitions/Failure'
          examples:
            application/json:
              key: tokenInvalid
              msgTitle: Ошибка
              msgUser: Сессия не действительна или истекло время, авторизуйтесь
              msgDev: Сессия не действительна, требуется выдача нового token
              domain: ''
      security:
      - auth: []
    post:
      description: "Обновление профиля"
      tags:
      - ProfileDetails
      operationId: UpdateProfile
      produces:
      - application/json
      consumes:
      - application/x-www-form-urlencoded
      parameters:
      - name: Language
        in: header
        type: string
        required: true
        description: 'Язык устройства'
        x-example: 'RU'
      - name: Language
        in: formData
        type: string
        required: true
        description: 'Язык устройства'
        x-example: 'RU'
      - name: birthday 
        in: formData
        description: 'Дата рождения'
        x-example: 'YYYY-MM-DD'
        type: string
        required: true
      - name: id_city
        in: formData
        type: string
        description: 'ID города из профиля'
        x-example: 'Novosibirsk'
        required: false
      - name: id_counrty
        in: formData
        type: string
        description: 'ID страны в профиле'
        x-example: 'Russia'
        required: false
      - name: sex
        in: formData
        type: string
        description: 'Пол в профиле'
        x-example: 'Male'
        enum: [Male, Female]
        required: false
      responses:
        200:
          description: 'Язык системы успешно изменён'
          examples:
             application/json: []
        500:
          description: 'Язык не был изменён'
        default:
          description: Internal Server Error
          schema:
            $ref: '#/definitions/Failure'
          examples:
            application/json:
              key: languagenotchanged
              msgTitle: Язык не был изменён! К сожалению, произошла ошибка
              msgUser: Мы уже решаем возникшую проблему. Пожалуйста, повторите попытку немного позже  
              msgDev: Отсутствует связь с сервером
              domain: ''
      security:
      - auth: []
  /getShopList:
    get:
      description: "Получение списка магазинов."
      tags:
      - getShopList
      operationId: getShopList8
      produces:
      - application/json
      parameters:
        - name: Language
          in: header
          type: string
          required: true
          description: 'Язык устройства'
          x-example: 'RU'      
        - in: query
          name: sort_type
          required: false
          type: string
          enum: [created_at, aggregator_rating, name, views] # Сначала новые / По рейтингу / По алфавиту / По популярности
          description: 'Тип сортировки'
        - in: query
          name: sort_order
          required: false
          type: string
          enum: [asc, desc]
          description: 'Порядок сортировки'
        - in: query
          name: type_shop
          required: false
          type: string
          enum: [all, online, offline]
          description: 'Тип магазина'
        - in: query
          name: accept_switips_card
          required: false
          type: boolean
          description: 'Принимает ли магазин карты Switips'
        - in: query
          name: accept_qr_code
          required: false
          type: boolean
          description: 'Принимает QR'
        - in: query
          name: verified_switips
          required: false
          type: boolean
          description: 'Чеки проверены командой Switips, кэшбэк по ним приходит'
        - in: query
          name: filter_country
          required: false
          type: integer
          description: 'id страны' 
        - in: query
          name: filter_name
          required: false
          type: string
          description: 'Фильтр по названию партнера'
        - in: query
          name: filter_country_id
          required: false
          type: integer
          description: 'Фильтр по стране'
        - in: query
          name: filter_vip
          required: false
          type: boolean
          description: 'Фильтр по признаку VIP предложение'
        - in: query
          name: filter_gold
          required: false
          type: boolean
          description: 'Фильтр по признаку GOLD предложение'          
        - in: query
          name: filter_category_id
          required: false
          type: string
          description: 'Фильтр по категории, подкатегории'
        - in: query
          name: filter_favourite
          required: false
          type: boolean
          description: 'Фильтр по избранным партнерам этого пользователя'
        - in: query
          name: page_number
          required: false
          type: integer
          description: 'Номер страницы (для постраничной навигации)'   
        - in: query
          name: count
          required: false
          type: number
          description: 'Колличество записей на странице (для постраничной навигации)' 
        - name: latitude
          in: query
          type: number
          format: double
          x-example: 0.345656
          description: 'Широта. Определяется по местоположению'
        - name: longitude
          in: query
          type: number
          format: double
          x-example: 0.345656
          description: 'Долгота. Определяется по местоположению'             
      responses:
        200:
          description: 'Получение списка магазинов'
          schema:
            $ref: '#/definitions/Shops'
          examples:
            application/json:
              shops:
              - id: 5039
                active: true
                title: 'Ali express russia'
                logo: '/url/docs/image.jpg'
                is_online: true
                is_offline: false
                accept_switips_card: true
                accept_qr_code: false
                verified_switips: true
                have_actions: true
                is_top10: false
                exclusive: true
                have_gold_actions: true
                created_at: '2018-04-17 00:00:00'
                views: 30
                cashback_period: 30
                active_ref: 'https://aliexpress.com/?ref=sdfsdfsdfsd'
                cashback: 0.05
                oldCashback: 0.05
                status: 'Новый'
                category_id: 12
                category_title: 'Обувь'
                country_title: 'Россия'
                country_id: [12 , 13 , 14]
                countries: 
                  - id: 2017370,
                    title: 'Россия'
                  - id: 2017310,
                    title: 'США'
                detail_text: 'Подробное описание партнеров'
                description: 'Условия начисления кэшбэка, условия продаж'
                conditions: 'Особые условия партнера'
                currency: 'USD'
                amount: '45.00'
                phone_number: '+79865646565'
                loc:
                - id: 122334
                  lat: 0.34554564
                  long: 0.345656
                  address: 'г.Москва, пер. Лесной, д.12'
                - id: 122334
                  lat: 0.34554564
                  long: 0.345656
                  address: 'г.Москва, пер. Лесной, д.12'
              - id: 5039
                active: true
                title: 'Ali express russia'
                logo: '/url/docs/image.jpg'
                is_online: true
                is_offline: false
                accept_switips_card: true
                accept_qr_code: false
                verified_switips: true
                have_actions: true
                is_top10: false
                exclusive: true
                have_gold_actions: true
                created_at: '2018-04-17 00:00:00'
                views: 30
                cashback_period: 30
                active_ref: 'https://aliexpress.com/?ref=sdfsdfsdfsd'
                cashback: 0.05
                oldCashback: 0.05
                status: 'Новый'
                category_id: 12
                category_title: 'Обувь'  
                country_title: 'Россия'
                countries: 
                  - id: 2017370,
                    title: 'Россия'
                  - id: 2017310,
                    title: 'США'                  
                detail_text: 'Подробное описание партнеров'
                description: 'Условия начисления кэшбэка, условия продаж'
                conditions: 'Особые условия партнера'
                currency: 'USD'
                amount: '45.00'
                dynamics: true
                phone_number: '+79865646565'                
                loc:
                - id: 122334
                  lat: 0.34554564
                  long: 0.345656
                  address: 'г.Москва, пер. Лесной, д.12'
                - id: 122334
                  lat: 0.34554564
                  long: 0.345656
                  address: 'г.Москва, пер. Лесной, д.12'
              - id: 5039
                active: true
                title: 'Ali express russia'
                logo: '/url/docs/image.jpg'
                is_online: true
                is_offline: false
                accept_switips_card: true
                accept_qr_code: false
                verified_switips: true
                have_actions: true
                is_top10: false
                exclusive: true
                have_gold_actions: true
                created_at: '2018-04-17 00:00:00'
                views: 30
                cashback_period: 30
                active_ref: 'https://aliexpress.com/?ref=sdfsdfsdfsd'
                cashback: 0.05
                oldCashback: 0.05
                status: 'Новый'
                category_id: 12
                countries: 
                  - id: 2017370,
                    title: 'Россия'
                  - id: 2017310,
                    title: 'США'                  
                category_title: 'Обувь'  
                country_title: 'Россия'
                detail_text: 'Подробное описание партнеров'
                description: 'Условия начисления кэшбэка, условия продаж'
                conditions: 'Особые условия партнера'
                currency: 'USD'
                amount: '45.00'
                dynamics: true
                phone_number: '+79865646565'                
                loc:
                - id: 122334
                  lat: 0.34554564
                  long: 0.345656
                  address: 'г.Москва, пер. Лесной, д.12'
                - id: 122334
                  lat: 0.34554564
                  long: 0.345656
                  address: 'г.Москва, пер. Лесной, д.12'
      security: [] 
  /getShopListCount:
    get:
      description: "Получение количества магазинов."
      tags:
      - getShopListCount
      operationId: getShopListCount
      produces:
      - application/json
      parameters:
        - name: Language
          in: header
          type: string
          required: true
          description: 'Язык устройства'
          x-example: 'RU'      
        - in: query
          name: sort_type
          required: false
          type: string
          enum: [created_at, aggregator_rating, name, views] # Сначала новые / По рейтингу / По алфавиту / По популярности
          description: 'Тип сортировки'
        - in: query
          name: sort_order
          required: false
          type: string
          enum: [asc, desc]
          description: 'Порядок сортировки'
        - in: query
          name: type_shop
          required: false
          type: string
          enum: [all, online, offline]
          description: 'Тип магазина' 
        - in: query
          name: accept_switips_card
          required: false
          type: boolean
          description: 'Принимает ли магазин карты Switips'
        - in: query
          name: accept_qr_code
          required: false
          type: boolean
          description: 'Принимает QR'          
        - in: query
          name: verified_switips
          required: false
          type: boolean
          description: 'Чеки проверены командой Switips, кэшбэк по ним приходит'
        - in: query
          name: country_id
          required: false
          type: integer
          description: 'id страны' 
        - in: query
          name: filter_name
          required: false
          type: string
          description: 'Фильтр по названию партнера'
        - in: query
          name: filter_country_id
          required: false
          type: integer
          description: 'Фильтр по стране'
        - in: query
          name: filter_vip
          required: false
          type: boolean
          description: 'Фильтр по признаку VIP предложение'
        - in: query
          name: filter_category_id
          required: false
          type: string
          description: 'Фильтр по категории, подкатегории'
        - in: query
          name: filter_favourite
          required: false
          type: boolean
          description: 'Фильтр по избранным партнерам этого пользователя'
        - in: query
          name: filter_gold
          required: false
          type: boolean
          description: 'Фильтр по признаку GOLD предложение'           
        - name: latitude
          in: query
          type: number
          format: double
          x-example: 0.345656
          description: 'Широта. Определяется по местоположению'
        - name: longitude
          in: query
          type: number
          format: double
          x-example: 0.345656
          description: 'Долгота. Определяется по местоположению'  
      responses:
        200:
          description: 'Количество магазинов получено'
          schema:
            title: ShopsCount
            properties:
              shopsCount:
                description: 'Кол-во магазинов'
                example: 123
                type: integer
                format: int32
            example:
              shopsCount: 123
      security: [] 
  /getShopListForMap:
    get:
      description: "Получение списка магазинов для их отображния на карте"
      tags:
      - getShopListForMap 
      operationId: getShopListForMap8
      produces:
      - application/json
      parameters:
        - name: Language
          in: header
          type: string
          required: true
          description: 'Язык устройства'
          x-example: 'RU'      
        - in: query
          name: min_latitude
          required: false
          type: number
          format: float
          description: 'Минимальная широта'
        - in: query
          name: min_longitude
          required: false
          type: number
          format: float
          description: 'Минимальная долгота'
        - in: query
          name: max_latitude
          required: false
          type: number
          format: float
          description: 'Максимальная широта'
        - in: query
          name: max_longitude
          required: false
          type: number
          format: float
          description: 'Максимальная долгота'
        - in: query
          name: filter_category_id
          required: false
          type: string
          description: 'Фильтр по категории, подкатегории'
        - in: query
          name: filter_favourite
          required: false
          type: boolean
          description: 'Фильтр по избранным партнерам этого пользователя'
      responses:
        200:
          description: 'Получение списка магазинов для карты'
          schema:
            $ref: '#/definitions/MapsShops'
          examples:
            application/json:
              shops:
              - id: 37967
                title: 'Али экспресс'
                logo: '/url/file/logo.jpg'
                have_actions: true
                is_top10: true
                favourite: true
                vip: true
                exclusive: true
                have_gold_actions: true
                created_at: '2018-04-17 00:00:00'
                views: 30
                cashback: 0.06
                oldCashback: 0.06
                category_title: 'Обувь'
                currency: 'USD'
                amount: '45.00'
                dynamics: true
                loc: 
                - id: 122334
                  lat: 0.34554564
                  long: 0.345656
                  address: 'г.Москва, пер. Лесной, д.12'
                - id: 122334
                  lat: 0.34554564
                  long: 0.345656
                  address: 'г.Москва, пер. Лесной, д.12'
              - id: 37967
                title: 'Али экспресс'
                logo: '/url/file/logo.jpg'
                have_actions: true
                is_top10: true
                favourite: true
                vip: true
                exclusive: true
                have_gold_actions: true
                created_at: '2018-04-17 00:00:00'
                views: 30
                cashback: 0.06
                oldCashback: 0.06
                category_title: 'Обувь'
                currency: 'USD'
                amount: '45.00'                
                dynamics: true
                loc: 
                - id: 122334
                  lat: 0.34554564
                  long: 0.345656
                  address: 'г.Москва, пер. Лесной, д.12'
                - id: 122334
                  lat: 0.34554564
                  long: 0.345656
                  address: 'г.Москва, пер. Лесной, д.12'
      security: [] 
  /getShop/{shop_id}:
    get:
      description: "Получение информации о магазине."
      tags:
      - getShop
      operationId: getShop9
      produces:
      - application/json
      consumes:
      - application/x-www-form-urlencoded
      parameters:
        - name: Language
          in: header
          type: string
          required: true
          description: 'Язык устройства'
          x-example: 'RU'      
        - in: path
          name: shop_id
          type: integer
          required: true
          description: Numeric ID of the Shop to get.
      responses:
        200:
          description: 'Получение информации о магазине'
          schema:
            $ref: '#/definitions/Shop'
          examples:
            application/json:
              shop:
                  id: 5039
                  active: true
                  title: 'Ali express russia'
                  logo: '/url/docs/image.jpg'
                  is_online: true
                  is_offline: false
                  accept_switips_card: true
                  accept_qr_code: false
                  verified_switips: true
                  have_actions: true
                  is_top10: false
                  exclusive: true
                  have_gold_actions: true
                  created_at: '2018-04-17 00:00:00'
                  views: 30
                  cashback_period: 30
                  active_ref: 'https://aliexpress.com/?ref=sdfsdfsdfsd'
                  cashback: 0.05
                  oldCashback: 0.05
                  status: 'Новый'
                  category_id: 12
                  category_title: 'Обувь'  
                  country_title: 'Россия'
                  country_id: [12 , 13 , 14]
                  countries: 
                    - id: 2017370,
                      title: 'Россия'
                    - id: 2017310,
                      title: 'США'                  
                  detail_text: 'Подробное описание партнеров'
                  description: 'Условия начисления кэшбэка, условия продаж'
                  conditions: 'Особые условия партнера'
                  currency: 'USD'
                  amount: '45.00'                  
                  dynamics: true
                  phone_number: '+79865646565'
                  loc: 
                  - id: 122334
                    lat: 0.34554564
                    long: 0.345656
                    address: 'г.Москва, пер. Лесной, д.12'
                  - id: 122334
                    lat: 0.34554564
                    long: 0.345656
                    address: 'г.Москва, пер. Лесной, д.12'
      security: []
  /getShop/{shop_id}/actions:
    get:
      description: "Получение списка акций магазина"
      tags:
      - getShopActions
      operationId: getShopActions9
      produces:
      - application/json
      consumes:
      - application/x-www-form-urlencoded
      parameters:
        - name: Language
          in: header
          type: string
          required: true
          description: 'Язык устройства'
          x-example: 'RU'      
        - in: path
          name: shop_id
          type: integer
          required: true
          description: Numeric ID of the Shop to get.
      responses:
        200:
          description: 'Получение списк акций магазина магазине'
          schema:
            $ref: '#/definitions/Actions'
          examples:
            application/json:
              actions:
              - id: 5039
                active: true
                title: 'Ali express russia'
                logo: '/url/docs/image.jpg'
                extra_benefits: 'Дополнительные преимущества'      
                all_shop_actions_link: '/actionlist/ali_express/'
                active_ref: 'https://aliexpress.com/?ref=sdfsdfsdfsd'
                created_date: '2018-02-17 00:00:00'
                updated_date: '2018-03-17 00:00:00'
                expiry_date: '2018-04-17 00:00:00'
                detail_text: 'Подробные условия акции'
                promocode: 02VV2
                partner_id: 3442
                partner_name: 'Aliexpress'
                is_new: true
                is_favourite: true
                is_favourite_actions: true
              - id: 5039
                active: true
                title: 'Ali express russia'
                logo: '/url/docs/image.jpg'
                extra_benefits: 'Дополнительные преимущества'      
                all_shop_actions_link: '/actionlist/ali_express/'
                active_ref: 'https://aliexpress.com/?ref=sdfsdfsdfsd'
                created_date: '2018-02-17 00:00:00'
                updated_date: '2018-03-17 00:00:00'
                expiry_date: '2018-04-17 00:00:00'
                detail_text: 'Подробные условия акции'
                promocode: 02VV2
                partner_id: 3442
                partner_name: 'Aliexpress'
                is_new: true
                is_favourite: true
      security: [] 
  /getBalance:
    get:
      description: 'Получение баланса профиля текущего авторизованного юзера.'
      tags:
      - getBalance
      operationId: GetBalance88
      produces:
      - application/json
      parameters:
      - name: Language
        in: header
        type: string
        required: true
        description: 'Язык устройства'
        x-example: 'RU'      
      responses:
        200:
          description: 'Отображение баланса профиля текущего авторизованного юзера'
          schema:
            $ref: '#/definitions/Balance'
          examples:
            application/json:
              available_balance: 181320.14999999999
              awaiting_balance: 9.8800000000000008
              rejected_balance: 2.12
              approved_balance: 2.213
        401:
          description: Unauthorized
          schema:
            $ref: '#/definitions/Failure'
          examples:
            application/json:
              key: tokenInvalid
              msgTitle: Ошибка
              msgUser: Сессия не действительна или истекло время, авторизуйтесь
              msgDev: Сессия не действительна, требуется выдача нового token
              domain: ''
      security: 
      - auth: []      
  /Balance/v2:
    get:
      description: 'Получение баланса всех счетов профиля текущего авторизованного юзера'
      tags:
      - getBalance
      operationId: GetBalance8
      produces:
      - application/json
      parameters:
      - name: Language
        in: header
        type: string
        required: true
        description: 'Язык устройства'
        x-example: 'RU'      
      responses:
        200:
          description: 'Получение баланса всех счетов текущего авторизованного юзера'
          schema:
            $ref: '#/definitions/Balances.v2'
          examples:
            application/json:
              balances2: 
                - available_balance: 181320.14999999999
                  awaiting_balance: 9.8800000000000008
                  rejected_balance: 2.12
                  approved_balance: 2.213
                  currency: 'RUB'
                  minimum_amount: 1000
                - available_balance: 181320.14999999999
                  awaiting_balance: 9.8800000000000008
                  rejected_balance: 2.12
                  approved_balance: 2.213
                  currency: 'USD'
                  minimum_amount: 100
        401:
          description: Unauthorized
          schema:
            $ref: '#/definitions/Failure'
          examples:
            application/json:
              key: tokenInvalid
              msgTitle: Ошибка
              msgUser: Сессия не действительна или истекло время, авторизуйтесь
              msgDev: Сессия не действительна, требуется выдача нового token
              domain: ''
      security: 
      - auth: []      
  /sendQRCode:
    post:
      description: "Отправка кода чека"
      tags:
      - sendQRCode
      operationId: SendQRCode2
      produces:
      - application/json
      consumes:
      - application/x-www-form-urlencoded
      parameters:
        - name: Language
          in: header
          type: string
          required: true
          description: 'Язык устройства'
          x-example: 'RU'      
        - in: formData
          name: dataqrcode
          required: true
          type: string
          description: 'Строка расшифрованного штрихкода чека' 
      responses:
        200:
          description: 'Получение предварительного кэшбэка'
          schema:
           $ref: '#/definitions/PreCashBack'
          examples:
            application/json:
              shop_name: Buyon и cash back от WWP Capital
              cash_back: 9.8800000000000008
              currency: RUB
        500:
          description: 'Обязательный параметр dataqrcode не передан'
          schema:
            $ref: '#/definitions/Failure'
          examples:
            application/json:
              key: sendQRCodeInvalid
              msgTitle: Чек не принят! К сожалению, нам не удалось распознать данные чека
              msgUser: Пожалуйста, повторите сканирование или обратитесь в службу поддержки              
              msgDev: Обязательный параметр dataqrcode не передан
              domain: ''
        401:
          description: с одного устройства может сканироваться не более N штрихкодов с одного заведения в сутки
          schema:
            $ref: '#/definitions/Failure'
          examples:
            application/json:
              key: limitExceeded 
              msgUser: Превышен лимит сканирования штрихкодов этого заведения в сутки
              msgDev: Превышен лимит сканирования штрихкодов этого заведения в сутки
              domain: ''
      security:
      - auth: []
  /getOrders:
    get:
      description: 'Получение списка всех заказов'
      tags:
      - getOrders
      operationId: GetOrders
      produces:
      - application/json
      parameters:
        - name: Language
          in: header
          type: string
          required: true
          description: 'Язык устройства'
          x-example: 'RU'      
        - in: query
          name: page_number
          required: false
          type: integer
          description: 'Номер страницы (для постраничной навигации)'   
        - in: query
          name: count
          required: false
          type: integer
          description: 'Колличество записей на странице (для постраничной навигации)' 
      responses:
        200:
          description: 'Успешное получение списка заказов пользователя'
          schema:
            $ref: '#/definitions/Orders'
          examples:
            application/json:
              orders:
              - id: 37967
                shop_name: Aviasales.ru и cash back от WWP Capital
                date_time_order: '2018-01-27 00:00:00'
                amount: 9341.22
                cash_back: 136.00999999999999
                status: approved
                currency: RUB
                process_end_date: '2018-02-27 00:00:00'
              - id: 28795
                shop_name: Aviasales.ru и cash back от WWP Capital
                date_time_order: '2018-01-05 00:00:00'
                amount: 19426.33
                cash_back: 282.83999999999997
                status: approved
                currency: RUB
                process_end_date: '2018-02-27 00:00:00'
      security:
      - auth: []
  /getCashVouchers:
    get:
      description: 'Получение списка всех чеков'
      tags:
      - getCashVouchers
      operationId: GetCashVouchers
      produces:
      - application/json
      parameters: 
        - name: Language
          in: header
          type: string
          required: true
          description: 'Язык устройства'
          x-example: 'RU'      
        - in: query
          name: page_number
          required: false
          type: integer
          description: 'Номер страницы (для постраничной навигации)'   
        - in: query
          name: count
          required: false
          type: integer
          description: 'Колличество записей на странице (для постраничной навигации)' 
      responses:
        200:
          description: 'Получение списка чеков'
          schema:
            $ref: '#/definitions/Vouchers'
          examples:
            application/json:
              vouchers:
              - id: 59
                shop_name: Buyon и cash back от WWP Capital
                date_time_order: '2018-04-17 00:00:00'
                amount: 123.5
                cash_back: 9.8800000000000008
                status: declined
                currency: RUB
                process_end_date: '2018-02-27 00:00:00'
              - id: 60
                shop_name: Buyon и cash back от WWP Capital
                date_time_order: '2018-04-17 00:00:00'
                amount: 123.5
                cash_back: 9.8800000000000008
                status: declined
                currency: RUB
                process_end_date: '2018-02-27 00:00:00'
              - id: 61
                shop_name: Buyon и cash back от WWP Capital
                date_time_order: '2018-04-17 00:00:00'
                amount: 123.5
                cash_back: 9.8800000000000008
                status: declined
                currency: RUB
                process_end_date: '2018-02-27 00:00:00'
              - id: 62
                shop_name: Buyon и cash back от WWP Capital
                date_time_order: '2018-04-17 00:00:00'
                amount: 123.5
                cash_back: 9.8800000000000008
                status: declined
                currency: RUB
                process_end_date: '2018-02-27 00:00:00'
      security:
      - auth: []
  /getActions:
    get:
      description: 'Запрос списка акций'
      tags:
      - getActions
      operationId: getActions
      produces:
      - application/json
      parameters:
        - name: Language
          in: header
          type: string
          required: true
          description: 'Язык устройства'
          x-example: 'RU'      
        - in: query
          name: sort_type
          required: false
          type: string
          enum: [views, expiry_date, aggregator_rating, updated_date] # По популярности / По дате окончания / По рейтингу / По дате обновления
          description: 'Тип сортировки'
        - in: query
          name: sort_order
          required: false
          type: string
          enum: [asc, desc]
          description: 'Порядок сортировки'
        - in: query
          name: type_actions
          required: false
          type: string
          enum: [all, new, favourite]
          description: 'Вид акций'  
        - in: query
          name: type_shop
          required: false
          type: string
          enum: [all, online, offline]
          description: 'Тип магазина' 
        - in: query
          name: filter_name
          required: false
          type: string
          description: 'Фильтр по названию компании'
        - in: query
          name: filter_category
          required: false
          type: integer
          description: 'Фильтр по категории акции'
        - in: query
          name: page_number
          required: false
          type: integer
          description: 'Номер страницы (для постраничной навигации)'   
        - in: query
          name: count
          required: false
          type: integer
          description: 'Колличество записей на странице (для постраничной навигации)' 
        - in: query
          name: country_id
          required: false
          type: integer
          description: 'id страны'           
      responses:
        200:
          description: 'Получение списка акций'
          schema:
            $ref: '#/definitions/Actions'
          examples:
            application/json:
              actions:
              - id: 5039
                active: true
                title: 'Ali express russia'
                logo: '/url/docs/image.jpg'
                extra_benefits: 'Дополнительные преимущества'      
                all_shop_actions_link: '/actionlist/ali_express/'
                active_ref: 'https://aliexpress.com/?ref=sdfsdfsdfsd'
                created_date: '2018-02-17 00:00:00'
                updated_date: '2018-03-17 00:00:00'
                expiry_date: '2018-04-17 00:00:00'
                detail_text: 'Подробные условия акции'
                promocode: 02VV2
                partner_id: 3442
                partner_name: 'Aliexpress'
                is_new: true
                is_favourite: true
                is_favourite_actions: true
                country_title: 'Россия'
              - id: 5039
                active: true
                title: 'Ali express russia'
                logo: '/url/docs/image.jpg'
                extra_benefits: 'Дополнительные преимущества'      
                all_shop_actions_link: '/actionlist/ali_express/'
                active_ref: 'https://aliexpress.com/?ref=sdfsdfsdfsd'
                created_date: '2018-02-17 00:00:00'
                updated_date: '2018-03-17 00:00:00'
                expiry_date: '2018-04-17 00:00:00'
                detail_text: 'Подробные условия акции'
                promocode: 02VV2
                partner_id: 3442
                partner_name: 'Aliexpress'
                is_new: true
                is_favourite: true
                is_favourite_actions: true
                country_title: 'Россия'
      security: []      
  /getActionsCount:
    get:
      description: 'Кол-во акций после фильтрации'
      tags:
      - getActionsCount
      operationId: getActionsCount
      produces:
      - application/json
      parameters:
        - name: Language
          in: header
          type: string
          required: true
          description: 'Язык устройства'
          x-example: 'RU'      
        - in: query
          name: sort_type
          required: false
          type: string
          enum: [views, expiry_date, aggregator_rating, updated_date] # По популярности / По дате окончания / По рейтингу / По дате обновления
          description: 'Тип сортировки'
        - in: query
          name: sort_order
          required: false
          type: string
          enum: [asc, desc]
          description: 'Порядок сортировки'
        - in: query
          name: type_actions
          required: false
          type: string
          enum: [all, new, favourite]
          description: 'Вид акций'  
        - in: query
          name: type_shop
          required: false
          type: string
          enum: [all, online, offline]
          description: 'Тип магазина' 
        - in: query
          name: filter_name
          required: false
          type: string
          description: 'Фильтр по названию компании'
        - in: query
          name: filter_category
          required: false
          type: integer
          description: 'Фильтр по категории акции'
      responses:
        200:
          description: 'Получение кол-ва акций'
          schema:
            title: ActionsCount
            properties:
              actionCount:
                description: 'Кол-во акций'
                example: 182
                type: integer
                format: int32
            example:
              actionCount: 182
      security: [] 
  /sendFeedback:
    post:
      description: "Отправка сообщения"
      tags:
      - sendFeedback
      operationId: SendFeedbackPost
      produces:
      - application/json
      consumes:
      - multipart/form-data
      parameters:
        - name: Language
          in: header
          type: string
          required: true
          description: 'Язык устройства'
          x-example: 'RU'      
        - name: upfile1
          in: formData
          type: file
          description: The file to upload
          required: false
        - name: upfile2
          in: formData
          type: file
          description: The file to upload
          required: false
        - name: upfile3
          in: formData
          type: file
          description: The file to upload
          required: false          
        - name: upfile4
          in: formData
          type: file
          description: The file to upload
          required: false          
        - name: upfile5
          in: formData
          type: file
          description: The file to upload
          required: false          
        - in: formData
          name: title
          required: true
          type: string
          description: 'Заголовок письма' 
        - in: formData
          name: description
          required: true
          type: string
          description: 'Текст письма'
      responses:
        200:
          description: 'Успешная отправка сообщения'
        default:
          description: Internal Server Error
          schema:
            $ref: '#/definitions/Failure'
          examples:
            application/json:
              key: sendFeedbackParametersInvalid
              msgTitle: Ошибка!
              msgUser: Внутренняя ошибка приложения
              msgDev: Обязательные параметры title и description не переданы
              domain: ''
      security: 
      - auth: []
  /addShopToFavourites:
    post:
      description: "Добавление магазина в избранное"
      tags:
      - addShopToFavourites
      operationId: addShopToFavouritesPost
      produces:
      - application/json
      consumes:
      - application/x-www-form-urlencoded
      parameters:
      - name: Language
        in: header
        type: string
        required: true
        description: 'Язык устройства'
        x-example: 'RU'      
      - in: formData
        name: shop_id
        required: true
        type: string
        description: 'ID магазина' 
      responses:
        200:
          description: 'Магазин успешно добавлен в избранное'
          examples:
            application/json: []
        418:
          description: Не указан shopId
          schema:
            $ref: '#/definitions/Failure'
          examples:
            application/json:
              key: sendFeedbackParametersInvalid
              msgTitle: Ошибка
              msgUser: Внутренняя ошибка приложения
              msgDev: Обязательный параметр shopId не передан
              domain: ''
        419:
          description: Не найден магазин с указанным shopId
          schema:
            title: Shop not found
            example:
              key: shopNotFound
              msgUser: Не найден магазин с указанным shopId
              msgDev: Не найден магазин с указанным shopId
            type: object
            properties:
              key:
                description: 'Ключ'
                example: shopNotFound
                type: string
              msgUser:
                description: 'Сообщение для пользователя'
                example: Не найден магазин с указанным shopId
                type: string
              msgDev:
                description: 'Сообщение для разработчика'
                example: Не найден магазин с указанным shopId
                type: string
            required:
            - key
            - msgUser
            - msgDev
      security: 
      - auth: []
  /removeShopFromFavourites:
    post:
      description: "Добавление магазина в избранное"
      tags:
      - removeShopFromFavourites
      operationId: removeShopFromFavouritesPost
      produces:
      - application/json
      consumes:
      - application/x-www-form-urlencoded
      parameters:
      - name: Language
        in: header
        type: string
        required: true
        description: 'Язык устройства'
        x-example: 'RU'      
      - in: formData
        name: shop_id
        required: true
        type: string
        description: 'ID магазина' 
      responses:
        200:
          description: 'Магазин успешно удален из избранного'
          examples:
            application/json: []
        417:
          description: Не указан shopId
          schema:
            $ref: '#/definitions/Failure'
          examples:
            application/json:
              key: sendFeedbackParametersInvalid
              msgTitle: Ошибка
              msgUser: Внутренняя ошибка приложения
              msgDev: Обязательный параметр shopId не передан
              domain: ''
        418:
          description: Не найден магазин с указанным shopId
          schema:
            title: Shop not found
            example:
              key: shopNotFound
              msgUser: Не найден магазин с указанным shopId
              msgDev: Не найден магазин с указанным shopId
            type: object
            properties:
              key:
                description: 'Ключ'
                example: shopNotFound
                type: string
              msgUser:
                description: 'Сообщение для пользователя'
                example: Не найден магазин с указанным shopId
                type: string
              msgDev:
                description: 'Сообщение для разработчика'
                example: Не найден магазин с указанным shopId
                type: string
            required:
            - key
            - msgUser
            - msgDev
      security: 
      - auth: []      
  /getFavourites:
    get:
      description: "Получение списка избранных магазинов."
      tags:
      - getFavourites
      operationId: getFavourites
      produces:
      - application/json
      parameters: 
        - name: Language
          in: header
          type: string
          required: true
          description: 'Язык устройства'
          x-example: 'RU'      
        - in: query
          name: sort_type
          required: false
          type: string
          enum: [created_at, aggregator_rating, name, rating] # Сначала новые / По рейтингу / По алфавиту / По популярности
          description: 'Тип сортировки'
        - in: query
          name: sort_order
          required: false
          type: string
          enum: [asc, desc]
          description: 'Порядок сортировки'
        - in: query
          name: page_number
          required: false
          type: integer
          description: 'Номер страницы (для постраничной навигации)'   
        - in: query
          name: count
          required: false
          type: integer
          description: 'Колличество записей на странице (для постраничной навигации)' 
      responses:
        200:
          description: 'Получение списка избранных магазинов'
          schema:
            $ref: '#/definitions/Shops'
          examples:
            application/json:
              shops:
              - id: 5039
                active: true
                title: 'Ali express russia'
                logo: '/url/docs/image.jpg'
                is_online: true
                is_offline: false
                have_actions: true
                is_top10: false
                exclusive: true
                created_at: '2018-04-17 00:00:00'
                views: 30
                cashback_period: 30
                active_ref: 'https://aliexpress.com/?ref=sdfsdfsdfsd'
                cashback: 0.05
                oldCashback: 0.05
                status: 'Новый'
                category_id: 12
                category_title: 'Обувь'  
                country_title: 'Россия'
                detail_text: 'Подробное описание партнеров'
                description: 'Условия начисления кэшбэка, условия продаж'
                conditions: 'Особые условия партнера'
                loc: 
                - id: 122334
                  lat: 0.34554564
                  long: 0.345656
                  address: 'г.Москва, пер. Лесной, д.12'
                - id: 122334
                  lat: 0.34554564
                  long: 0.345656
                  address: 'г.Москва, пер. Лесной, д.12'
              - id: 5039
                active: true
                title: 'Ali express russia'
                logo: '/url/docs/image.jpg'
                is_online: true
                is_offline: false
                have_actions: true
                is_top10: false
                exclusive: true
                created_at: '2018-04-17 00:00:00'
                views: 30
                cashback_period: 30
                active_ref: 'https://aliexpress.com/?ref=sdfsdfsdfsd'
                cashback: 0.05
                oldCashback: 0.05
                status: 'Новый'
                category_id: 12
                category_title: 'Обувь'  
                country_title: 'Россия'
                detail_text: 'Подробное описание партнеров'
                description: 'Условия начисления кэшбэка, условия продаж'
                conditions: 'Особые условия партнера'
                loc: 
                - id: 122334
                  lat: 0.34554564
                  long: 0.345656
                  address: 'г.Москва, пер. Лесной, д.12'
                - id: 122334
                  lat: 0.34554564
                  long: 0.345656
                  address: 'г.Москва, пер. Лесной, д.12'
              - id: 5039
                active: true
                title: 'Ali express russia'
                logo: '/url/docs/image.jpg'
                is_online: true
                is_offline: false
                have_actions: true
                is_top10: false
                exclusive: true
                created_at: '2018-04-17 00:00:00'
                views: 30
                cashback_period: 30
                active_ref: 'https://aliexpress.com/?ref=sdfsdfsdfsd'
                cashback: 0.05
                oldCashback: 0.05
                status: 'Новый'
                category_id: 12
                category_title: 'Обувь'  
              country_title: 'Россия'
              detail_text: 'Подробное описание партнеров'
              description: 'Условия начисления кэшбэка, условия продаж'
              conditions: 'Особые условия партнера'
              loc: 
                - id: 122334
                  lat: 0.34554564
                  long: 0.345656
                  address: 'г.Москва, пер. Лесной, д.12'
                - id: 122334
                  lat: 0.34554564
                  long: 0.345656
                  address: 'г.Москва, пер. Лесной, д.12'
      security:
      - auth: []
  /getCategories:
    get:
      description: "Получение списка категорий"
      tags:
      - getCategories
      operationId: getCategories
      produces:
      - application/json
      consumes:
      - application/x-www-form-urlencoded
      parameters:
      - name: Language
        in: header
        type: string
        required: true
        description: 'Язык устройства'
        x-example: 'RU'      
      responses:
        200:
          description: 'Получение списка категорий'
          schema:
            $ref: '#/definitions/Category'
          examples:
            application/json:
              categories:
              - id: 37967
                title: 'Обувь'
                code: 'shoes'
                icon: 'https://app.apiary.io/switips1/editor'
              - id: 37963
                title: 'Мебель'
                code: 'shoes'
                categories: [{id: 42, title: 'Шкафы'}, {id: 44, title: 'Полки'}]
                icon: 'https://app.apiary.io/switips1/editor'
              - id: 37967
                title: 'Обувь'
                code: 'shoes'
                icon: 'https://app.apiary.io/switips1/editor'
      security: []
  /getShopsForWebExtensions:
    get:
      description: "Получение ифнормации по кэшбэку и акциям для сайтов в веб-расширении"
      tags:
      - getShopsForWebExtensions
      operationId: getShopsForWebExtensions
      produces:
      - application/json
      parameters:
      - name: Language
        in: header
        type: string
        required: true
        description: 'Язык устройства'
        x-example: 'RU'      
      responses:
        200:
          description: 'Получение ифнормации по кэшбэку и акциям для сайтов в веб-расширении'
          schema:
            $ref: '#/definitions/ShopForWE'
          examples:
            application/json:
              - partner_id: 'Идентификатор магазина'
                partner_name: 'Aliexpress'
                website: 'https://www.nike.com/ru'
                is_top10: true
                logo: '/url/docs/image.jpg'
                show_url: 'https://app.io/test/show_url'
                goto_url: 'https://app.io/test/goto_url'
                agg_url: 'https://app.io/test/agg_url'
                category_id: 423
                percent: null
                amount: 500.20
                currency: 'RUB'
                main_action: 'Скидка на летнюю коллекцию женской обуви до 70%!'
              - partner_id: 'Идентификатор магазина'
                partner_name: 'Aliexpress'
                website: 'https://www.nike.com/ru'
                is_top10: true
                logo: '/url/docs/image.jpg'
                show_url: 'https://app.io/test/show_url'
                goto_url: 'https://app.io/test/goto_url'
                agg_url: 'https://app.io/test/agg_url'
                category_id: 423
                percent: null
                amount: 500.20
                currency: 'RUB'
                main_action: 'Скидка на летнюю коллекцию женской обуви до 70%!'
      security: [] 
  /bankCards:
    get:
      description: "Получения спика банковских карт"
      tags:
      - Bank Card
      operationId: bankCards
      produces:
      - application/json
      parameters:
      - name: Language
        in: header
        type: string
        required: true
        description: 'Язык устройства'
        x-example: 'RU'      
      responses:
        200:
          description: 'Получения спика заявок и банковских карт'
          schema:
            $ref: '#/definitions/CardRequests'
          examples:
            application/json:
              card_requests: 
                - requestid: '12345678-1234-1234-1234-123456789abc'
                  cardid: 10020334
                  card:
                    bank_partnerid: 2
                    pan: 12344
                    date_expire: '2010-08-18 08:15:30'
                    currency: 'RUB'
                    card_status: 'NewNotPerson'
                  date_request_created: '2010-08-18 08:15:30'
                  request_status: 'Complete'
                  formUrl: 'https://app.apiary.io/'
                - requestid: '12345678-1234-1234-1234-123456789abc'
                  cardid: 10020334
                  card:
                    bank_partnerid: 2
                    pan: 12344
                    date_expire: '2010-08-18 08:15:30'
                    currency: 'RUB'
                    card_status: 'NewNotPerson'
                  date_request_created: '2010-08-18 08:15:30'
                  request_status: 'Complete'
                  formUrl: 'https://app.apiary.io/'  
      security: []     
  /urlForRequest:
    get:
      description: "Получение ссылки для кнопки заявки карты"
      tags:
      - Bank Card
      operationId: urlForRequest
      produces:
      - application/json
      parameters:
      - name: Language
        in: header
        type: string
        required: true
        description: 'Язык устройства'
        x-example: 'RU'      
      responses:
        200:
          description: 'Получение ссылки для кнопки заявки карты'
          schema:
            title: urlForRequest
            properties:
              requestid:
                description: 'Идентификатор запроса'
                example: 182
                type: integer
                format: int32
              claimurl:
                description: 'Уникальная ссылка на форму заявки карты'
                example: 'https://app.apiary.io/switips1/editor'
                type: string
            example:
              requestid: 182
              claimurl: 'https://app.apiary.io/switips1/editor'
      security: [] 
  /getPaymentCommissions:
    get:
      description: 'Получение процента комиссий'
      tags:
      - paymentcommission
      operationId: paymentcommission
      produces:
      - application/json
      parameters:
      - name: Language
        in: header
        type: string
        required: true
        description: 'Язык устройства'
        x-example: 'RU'
      responses:
        200:
          description: 'Получение процента комиссий для всех валют'
          schema:
            $ref: '#/definitions/PaymentCommission'
          examples:
            application/json:
              PaymentCommission:
                                "ndfl": {
                                    "rate": 0,
                                    "percent": 0
                                }
                                "card": {
                                    "rate": 0,
                                    "percent": 2.9,
                                    "min": 3000,
                                    "commission": 70
                                }
                                "webmoney": {
                                    "rate": 42,
                                    "percent": 3
                                }
                                "qiwi": {
                                    "rate": 0,
                                    "percent": 3
                                }
                                "yandexmoney": {
                                    "rate": 0,
                                    "percent": 3
                                }
                                "paypal": {
                                    "rate": 44,
                                    "percent": 5
                                }
                                "sms": {
                                    "rate": 43,
                                    "percent": 5
                                }
                                "switips": {
                                    "rate": 0,
                                    "percent": 0,
                                    "commission": 0
                                }
                                "epayments": {
                                    "rate": 0,
                                    "percent": 3
                                }
      security: 
      - auth: []          
  /NewTransfer:
    post:
      description: 'Вывод средств'
      tags:
      - NewTransfer
      operationId: NewTransfer
      produces:
      - application/json
      consumes:
      - application/x-www-form-urlencoded
      parameters:
        - name: Language
          in: header
          type: string
          required: true
          description: 'Язык устройства'
          x-example: 'RU'
        - name: amount
          in: formData
          required: true
          type: string
          description: 'Сумма вывода'
        - name: output_method
          in: formData
          type: string
          enum: [switips, card, yandex, epayments, qiwi]
          required: true
          description: 'Метод вывода средств'
          x-example: 'yandex'
        - name: props[card]
          in: formData
          type: string
          description: 'Номер карты'
          x-example: 'XXXX-XXXX-XXXX-XXXX'
        - name: props[currency]
          in: formData
          type: string
          enum: [USD, RUB, EUR, BYN, UAH, KZT]
          required: true          
          description: 'Валюта банковской карты(выпадающий список валют). Не используется в карте Switips'
        - name: props[name]
          in: formData
          type: string
          description: 'Владелец карты'
        - name: props[date_card]
          in: formData
          type: string
          description: 'Дата окончания действия карты в формате - месяц/год. Либо два параметра props[date_month] и props[date_year] '
        - name: props[epayments]
          in: formData
          type: string
          description: 'Номер кошелька epayments'
        - name: props[yandex]
          in: formData
          type: string
          description: 'Номер кошелька yandex'
        - name: props[qiwi]
          in: formData
          type: string
          description: 'Номер кошелька qiwi'
        - name: preliminary_amount
          in: formData
          required: true
          type: boolean
          description: 'Предварительный расчёт. Используется для вычесления предварительной суммы, которая будет выведена'
        - name: paypass
          in: formData
          type: integer
          description: 'Платежный пароль'
        - name: currency
          in: formData
          type: string
          enum: [USD, RUB, EUR, BYN, UAH, KZT]
          required: true
          description: 'Валюта вывода'
          x-example: 'USD'          
      responses:
        201:
          description: 'Успех!'
          examples:
            application/json: []
        200:
          description: 'Получение суммы вывода после вычета комиссии/ Получение способа вывода'
          schema:
            $ref: '#/definitions/Amount'
          examples:
            application/json:
              transferred_amount : 1000,
              credited_amount: 1000,
              declaration_amount: 0,
              additional_amount: 1000,
              additional_rate: 0,
              output_method: switips
        500:
          description: "Превышен лимит ввода платёжного пароля"
          examples:
            application/json:
              key: limitPayPassword
              msgTitle: 'Внимание'
              msgUser: 'Превышен лимит попыток ввода платёжного пароля. Данная функция будет доступна через 06.10 мин'
              msgDev: 'Пароль и подтверждение пароля не совпадают'
              domain: ''              
        501:
          description: "Превышен лимит ввода платёжного пароля"
          examples:
            application/json:
              key: PayPasswordIsNotCorrect
              msgTitle: 'Ошибка'
              msgUser: 'Неверный платжный пароль'
              msgDev: 'Неверный платжный пароль'
              domain: ''              
      security: 
      - auth: []
  /SetNewPayPass:
    post:
      description: "Установка нового платёжного пароля"
      tags:
      - SetNewPayPass
      operationId: SetNewPayPass
      produces:
      - application/json
      consumes:
      - application/x-www-form-urlencoded
      parameters:
        - name: Language
          in: header
          type: string
          required: true
          description: 'Язык устройства'
          x-example: 'RU'
        - in: formData
          name: paypass
          required: true
          type: string
          description: 'Новый платёжный пароль'
        - in: formData
          name: confirm_paypass
          required: true
          type: string
          description: 'Подтверждение платёжного пароля'
      responses:
        200:
          description: 'Платёжный пароль задан успешно'
          examples:
            application/json: []
        424:
          description: "Пароль и подтверждение платёжного пароля не совпадают"
          examples:
            application/json:
              key: PaypassMismatch
              msgUser: 'Пароль и подтверждение пароля не совпадают'
              msgDev: 'Пароль и подтверждение пароля не совпадают'
              domain: ''
        412:
          description: PayPassword is too short
          examples:
            application/json:
              key: paypassIsTooLong
              msgUser: 'Указан слишком короткий пароль. Пароль не может быть короче 6 символов'
              msgDev: 'Пароль не может быть короче 6 символов'
              domain: ''
        411:
          description: PayPassword is too long
          examples:
            application/json:
              key: paypassIsTooShort
              msgUser: 'Указан слишком короткий пароль. Пароль не может быть короче 6 символов'
              msgDev: 'Пароль не может быть короче 6 символов'              
        413:
          description: PayPassword Includes wrong symbols
          examples:
            application/json:
              key: paypassIncludesWrongSymbols
              msgUser: 'Пароль содержит неверные символы. Пароль может содержать только цифры'
              msgDev: 'Пароль содержит неверные символы. Пароль может содержать только цифры'
              domain: ''  
        415:
          description: PayPassword Includes wrong symbols
          examples:
            application/json:
              key: paypassExist
              msgUser:  'Платежный пароль уже установлен'
              msgDev:  'Платежный пароль уже установлен'
              domain: ''                
      security:
      - auth: []
  /CheckTimePayPassword:
    get:
      description: "Проверка. Не превысил ли пользователь кол-во попыток ввода платёжного пароля"
      tags:
      - CheckTimePayPassword
      operationId: CheckTimePayPassword
      produces:
      - application/json
      consumes:
      - application/x-www-form-urlencoded
      parameters:
        - name: Language
          in: header
          type: string
          required: true
          description: 'Язык устройства'
          x-example: 'RU'
      responses:
        200:
          description: 'Вывод средств возможен'
          examples:
            application/json: []
        500:
          description: "Превышен лимит ввода платёжного пароля"
          examples:
            application/json:
              key: limitPayPassword
              msgTitle: 'Внимание'
              msgUser: 'Превышен лимит попыток ввода платёжного пароля. Данная функция будет доступна через 06.10 мин'
              msgDev: 'Пароль и подтверждение пароля не совпадают'
              domain: ''
      security:
      - auth: []
  /SecuritySettingsPassword:
    post:
      description: "Проверка пароля для доступа в настройки безопасности"
      tags:
      - SecuritySettingsPassword
      operationId: SecuritySettingsPassword59
      produces:
      - application/json
      consumes:
      - application/x-www-form-urlencoded
      parameters:
      - name: password
        in: formData
        required: true
        type: string
        description: 'Пароль'
      - name: Language
        in: header
        type: string
        required: true
        description: 'Язык устройства'
        x-example: 'RU'
      responses:
        200:
          description: 'Пароль ввердён верно'
          examples:
            application/json: []
        401: 
          description: Неправильный пароль
          schema:
            $ref: '#/definitions/Failure'
          examples:
            application/json:
              key: badPassword
              msgTitle: Ошибка
              msgUser: Неверный пароль
              msgDev: Неверный пароль
      security:
      - auth: []            
  /ManualSendQRCode:
    post:
      description: "Отправка кода чека"
      tags:
      - ManualInputSendQRCode
      operationId: ManualInputSendQRCode
      produces:
      - application/json
      consumes:
      - multipart/form-data
      parameters:
        - name: Language
          in: header
          type: string
          required: true
          description: 'Язык устройства'
          x-example: 'RU'      
        - in: formData
          name: upfile
          type: file
          description: The file to upload
          required: true
        - in: formData
          name: data_qrcode_partner
          required: true
          type: string
          description: 'Строка расшифрованного штрихкода c информацией по партнёру'
        - in: formData
          name: i
          required: true
          type: string
          description: 'Номер чека(Номер фискального документа)'
        - in: formData
          name: t
          required: true
          type: string
          description: 'Дата покупки'
        - in: formData
          name: s
          required: true
          type: string
          description: 'Сумма чека'
        - in: formData
          name: fn
          required: false
          type: string
          description: 'Заводской номер фискального накопителя'
        - in: formData
          name: fp
          required: false
          type: string
          description: 'Фискальный признак документа'          
        - in: formData
          name: n
          required: false
          type: string
          description: 'Признак расчета'          
      responses:
        200:
          description: 'Успешный ответ'
          schema:
            $ref: '#/definitions/Success'
          examples:
            application/json:
              key: successManualSendQR
              msgTitle: Чек принят на рассмотрение
              msgUser: Проверка чеков происходит в течении N часов
              msgDev: Покупка принята
              domain: ''
        514:
          description: 'Данный магазин не является партнером Switips'
          schema:
            $ref: '#/definitions/Failure'
          examples:
            application/json:
              key: partnerNotFound
              msgTitle: Операция не подтверждена
              msgUser: Данный магазин не является партнером Switips           
              msgDev: Данный магазин не является партнером Switips
              domain: ''
        512:
          description: 'К сожалению, нам не удалось распознать данный QR-код'
          schema:
            $ref: '#/definitions/Failure'
          examples:
            application/json:
              key: formatQRCodeInvalid
              msgTitle: Операция не подтверждена
              msgUser: К сожалению, нам не удалось распознать данный QR-код           
              msgDev: QR-код не распознан
              domain: ''
        517:
          description: 'QR код просрочен'
          schema:
            $ref: '#/definitions/Failure'
          examples:
            application/json:
              key: qrCodeNotActual
              msgTitle: Операция не подтверждена
              msgUser: Вам необходимо обратиться к партнёру и получить актуальный QR-код для подтверждения Вашей покупки           
              msgDev: QR-код просрочен
              domain: ''
        500:
          description: 'Ошибка сервера'
          schema:
            $ref: '#/definitions/Failure'
          examples:
            application/json:
              key: InternalServerError
              msgTitle: Операция не подтверждена
              msgUser: Мы уже решаем возникшую проблему. Пожалуйста, ожидайте           
              msgDev: Ошибка сервера
              domain: ''
        515:
          description: 'Превышен лимит сканирований на одного партнёра в месяц'
          schema:
            $ref: '#/definitions/Failure'
          examples:
            application/json:
              key: limitVoucherPartner
              msgTitle: Чек не принят!
              msgUser: К сожалению, вы не можете получать кэшбэк более чем 5 раз в месяц по одному партнёру            
              msgDev: Превышен лимит сканирований на одного партнёра в месяц
              domain: ''
        516:
          description: 'Превышен лимит сканирований на одного юзера в месяц'
          schema:
            $ref: '#/definitions/Failure'
          examples:
            application/json:
              key: limitVoucherUser
              msgTitle: Чек не принят!
              msgUser: К сожалению, невозможно получить кэшбэк больше 20 раз в месяц          
              msgDev: Превышен лимит сканирований на одного юзера в месяц
              domain: ''              
      security:
      - auth: []              
  /newAccessToken:
    post:
      description: "Получение accessToken"
      tags:
      - NewAccessToken
      operationId: NewAccessToken
      produces:
      - application/json
      consumes:
      - application/x-www-form-urlencoded
      parameters:
      - name: refresh_token
        in: formData
        required: true
        type: string
        description: 'refresh_token'
      - name: Language
        in: header
        type: string
        required: true
        description: 'Язык устройства'
        x-example: 'RU'
      responses:
        200:
          description: 'Успех. Токены получены'
          schema:
            title: Successful receipt of tokens
            example:
              key: successfulReceiptTokens
              access_token: 'eyJhbGciOiJIUzI1NiJ9.eyJ1c2VyX2lkIjoyMDIxNzAsImV4cCI6MTUyNDMxNDUyNn0.WKojqh6gLLQJA6ce2aUJj0X_KsubFWB45044HKVdFxA'
              access_token_time: '20190231T022239'  
              refresh_token: 'eyJhbGciOiJIUzI1NiJ9.eyJ1c2VyX2lkIjoyMDIxNzAsImV4cCI6MTUyNDMxNDUyNn0.WKojqh6gLLQJA6ce2aUJj0X_KsubFWB45044HKVdFxA'
            type: object
            properties:
              key:
                description: ''
                example: successfulReceiptTokens
                type: string
              access_token:
                description: ''
                example: 'eyJhbGciOiJIUzI1NiJ9.eyJ1c2VyX2lkIjoyMDIxNzAsImV4cCI6MTUyNDMxNDUyNn0.WKojqh6gLLQJA6ce2aUJj0X_KsubFWB45044HKVdFxA'
                type: string
              access_token_time:
                description: ''
                example: 'Время окончания жизни токена'
                type: string       
              refresh_token:
                description: ''
                example: 'eyJhbGciOiJIUzI1NiJ9.eyJ1c2VyX2lkIjoyMDIxNzAsImV4cCI6MTUyNDMxNDUyNn0.WKojqh6gLLQJA6ce2aUJj0X_KsubFWB45044HKVdFxA'
                type: string                
            required:
            - key
            - access_token
            - refresh_token  
        400: 
          description: Неверный временный токен
          schema:
            $ref: '#/definitions/Failure'
          examples:
            application/json:
              key: badRefreshToken
              msgTitle: Ошибка
              msgUser: 
              msgDev: Неверный временный токен, либо уже использовался.
      security: []                          
  /addActionToFavourites:
    post:
      description: "Добавление акции в избранное"
      tags:
      - addActionToFavourites
      operationId: addActionToFavourites
      produces:
      - application/json
      consumes:
      - application/x-www-form-urlencoded
      parameters:
      - name: Language
        in: header
        type: string
        required: true
        description: 'Язык устройства'
        x-example: 'RU'      
      - in: formData
        name: action_id
        required: true
        type: string
        description: 'ID акции' 
      responses:
        200:
          description: 'Акция успешно добавлен в избранное'
          examples:
            application/json: []
        418:
          description: Не указан shopId
          schema:
            $ref: '#/definitions/Failure'
          examples:
            application/json:
              key: actionIdInvalid
              msgTitle: Ошибка
              msgUser: Внутренняя ошибка приложения
              msgDev: Обязательный параметр actionId не передан
              domain: ''
        419:
          description: Не найден акция с указанным actionId
          schema:
            title: ActionId not found
            example:
              key: actionNotFound
              msgUser: Не найдена акция с указанным actionId
              msgDev: Не найдена акция с указанным actionId
            type: object
            properties:
              key:
                description: 'Ключ'
                example: actionNotFound
                type: string
              msgUser:
                description: 'Сообщение для пользователя'
                example: Не найден магазин с указанным actionId
                type: string
              msgDev:
                description: 'Сообщение для разработчика'
                example: Не найден магазин с указанным actionId
                type: string
            required:
            - key
            - msgUser
            - msgDev
      security: 
      - auth: []
  /removeActionFromFavourites:
    post:
      description: "Добавление магазина в избранное"
      tags:
      - removeActionFromFavourites
      operationId: removeActionFromFavourites
      produces:
      - application/json
      consumes:
      - application/x-www-form-urlencoded
      parameters:
      - name: Language
        in: header
        type: string
        required: true
        description: 'Язык устройства'
        x-example: 'RU'      
      - in: formData
        name: action_id
        required: true
        type: string
        description: 'ID акции' 
      responses:
        200:
          description: 'Акция успешно удалена из избранного'
          examples:
            application/json: []
        418:
          description: Не указан actionId
          schema:
            $ref: '#/definitions/Failure'
          examples:
            application/json:
              key: actionIdInvalid
              msgTitle: Ошибка
              msgUser: Внутренняя ошибка приложения
              msgDev: Обязательный параметр actionId не передан
              domain: ''
        419:
          description: Не найден акция с указанным actionId
          schema:
            title: ActionId not found
            example:
              key: actionNotFound
              msgUser: Не найдена акция с указанным actionId
              msgDev: Не найдена акция с указанным actionId
            type: object
            properties:
              key:
                description: 'Ключ'
                example: actionNotFound
[...]
