swagger: '2.0'
info:
  version: '1.0'
  title: SWITIPS Api v0
  description: API для приложения сканирования QR кодов чеков
host: switips.com
basePath: /api/v1/app
securityDefinitions:
  auth:
    type: apiKey
    in: header
    name: Authorization
    description: 'Token {access_token}'
schemes:
- https
consumes:
- application/json
produces:
- application/json
paths:
  /Registration:
    post:
      description: "Метод для регистрации пользователей на сервисе"
      tags:
      - Registration
      operationId: Registration
      produces:
      - application/json
      consumes:
      - application/x-www-form-urlencoded
      parameters:
      - name: login
        in: formData
        type: string
        required: true
        description: 'Имя пользователя'
        x-example: 'capitan_jack'
      - name: email
        in: formData
        required: true
        type: string
        description: 'e-mail пользователя'
        x-example: 'capitanjack@gmail.com'
      - name: password
        in: formData
        required: true
        type: string
        description: 'Пароль'
        x-example: 'vorobei'
      - name: invite_login
        in: formData
        required: true
        type: string
        description: 'login пригласившего пользователя'
        x-example: 'mario'
      - name: subscription_agreement
        in: formData
        required: false
        type: boolean
        description: 'Согласие на получение рекламной рассылки'
        x-example: true
      - in: formData
        name: device_info
        description: 'Информация о девайсе с которого была отправлена информация о чеке'
        required: true
        type: string
      responses:
        200:
          description: 'Пользователь успешно зарегистрирован'
          schema:
            title: Successful registration
            example:
              key: successfulRegistration
              access_token: 'eyJhbGciOiJIUzI1NiJ9.eyJ1c2VyX2lkIjoyMDIxNzAsImV4cCI6MTUyNDMxNDUyNn0.WKojqh6gLLQJA6ce2aUJj0X_KsubFWB45044HKVdFxA'
            type: object
            properties:
              key:
                description: ''
                example: successfulRegistration
                type: string
              access_token:
                description: ''
                example: 'eyJhbGciOiJIUzI1NiJ9.eyJ1c2VyX2lkIjoyMDIxNzAsImV4cCI6MTUyNDMxNDUyNn0.WKojqh6gLLQJA6ce2aUJj0X_KsubFWB45044HKVdFxA'
                type: string
            required:
            - key
            - access_token
        405:
          description: Login exists
          schema:
            title: Login exists
            example:
              key: loginExists
              msgUser: Указанный логин уже используется другим пользователем, укажите другой логин
              msgDev: указанный логин найден в БД
            type: object
            properties:
              key:
                description: 'Ключ'
                example: loginExists
                type: string
              msgUser:
                description: 'Сообщение для пользователя'
                example: Указанный логин уже используется другим пользователем, укажите другой логин
                type: string
              msgDev:
                description: 'Сообщение для разработчика'
                example: указанный логин найден в БД
                type: string
            required:
            - key
            - msgUser
            - msgDev
        406:
          description: Login is too long
          schema:
            title: Login is too long
            example:
              key: loginIsToLong
              msgUser: Указанный логин содержит слишком много символов. Максимальная длина логина 30 символов.
              msgDev: Указанный логин длиннее 30 символов
            type: object
            properties:
              key:
                description: 'Ключ'
                example: loginIsToLong
                type: string
              msgUser:
                description: 'Сообщение для пользователя'
                example: Указанный логин содержит слишком много символов. Максимальная длина логина 30 символов.
                type: string
              msgDev:
                description: 'Сообщение для разработчика'
                example: Указанный логин длиннее 30 символов.
                type: string
            required:
            - key
            - msgUser
            - msgDev
        407:
          description: Login is too short
          schema:
            title: Login is too short
            example:
              key: loginIsToShort
              msgUser: Указанный логин содержит слишком мало символов. Минимальная длина логина 4 символа.
              msgDev: Указанный логин короче 4 символов.
            type: object
            properties:
              key:
                description: 'Ключ'
                example: loginIsToShort
                type: string
              msgUser:
                description: 'Сообщение для пользователя'
                example: Указанный логин содержит слишком мало символов. Минимальная длина логина 4 символа.
                type: string
              msgDev:
                description: 'Сообщение для разработчика'
                example: Указанный логин короче 4 символов.
                type: string
            required:
            - key
            - msgUser
            - msgDev
        408:
          description: Login includes wrong symbols
          schema:
            title: Login includes wrong symbols
            example:
              key: loginIncludesWrongSymbols
              msgUser: Указанный логин содержит недопустимые символы. Логин может содержать только цифры, буквы латинского алфавита, "_", тире и точку.
              msgDev: Указанный логин содержит недопустимые символы.
            type: object
            properties:
              key:
                description: 'Ключ'
                example: loginIncludesWrongSymbols
                type: string
              msgUser:
                description: 'Сообщение для пользователя'
                example: Указанный логин содержит недопустимые символы. Логин может содержать только цифры, буквы латинского алфавита, "_", тире и точку.
                type: string
              msgDev:
                description: 'Сообщение для разработчика'
                example: Указанный логин содержит недопустимые символы.
                type: string
            required:
            - key
            - msgUser
            - msgDev
        409:
          description: Wrong email
          schema:
            title: Wrong email
            example:
              key: wrongEmail
              msgUser: Указан не корректный email, укажите реально существующий email
              msgDev: Указан не корректный email
            type: object
            properties:
              key:
                description: ''
                example: wrongEmail
                type: string
              msgUser:
                description: ''
                example: Указан не корректный email, укажите реально существующий email.
                type: string
              msgDev:
                description: ''
                example: Указан не корректный email
                type: string
            required:
            - key
            - msgUser
            - msgDev
        410:
          description: Password is too short
          schema:
            title: Password is too short
            example:
              key: passwordIsTooShort
              msgUser: Указан слишком короткий пароль. Пароль не может быть короче 6 символов
              msgDev: Пароль не может быть короче 6 символов
            type: object
            properties:
              key:
                description: ''
                example: passwordIsTooShort
                type: string
              msgUser:
                description: ''
                example: Указан слишком короткий пароль. Пароль не может быть короче 6 символов
                type: string
              msgDev:
                description: ''
                example: Пароль не может быть короче 6 символов
                type: string
            required:
            - key
            - msgUser
            - msgDev
        411:
          description: Password is too long
          schema:
            title: Password is too long
            example:
              key: passwordIsTooLong
              msgUser: Указан слишком длинный пароль. Пароль не может быть длиннее 30 символов
              msgDev: Пароль не может быть длиннее 30 символов
            type: object
            properties:
              key:
                description: ''
                example: passwordIsTooLong
                type: string
              msgUser:
                description: ''
                example: Указан слишком длинный пароль. Пароль не может быть длиннее 30 символов
                type: string
              msgDev:
                description: ''
                example: Пароль не может быть длиннее 30 символов
                type: string
            required:
            - key
            - msgUser
            - msgDev
        412:
          description: Password Includes wrong symbols
          schema:
            title: Password Includes wrong symbols
            example:
              key: passwordIncludesWrongSymbols
              msgUser: Пароль содержит неxtверные символы. Пароль должен содержать как минимум одну букву латинского алфавита и одну цифру.
              msgDev: Пароль должен содержать как минимум одну букву латинского алфавита и одну цифру.
            type: object
            properties:
              key:
                description: ''
                example: passwordIncludesWrongSymbols
                type: string
              msgUser:
                description: ''
                example: Пароль должен содержать как минимум одну букву латинского алфавита и одну цифру.
                type: string
              msgDev:
                description: ''
                example: Пароль должен содержать как минимум одну букву латинского алфавита и одну цифру.
                type: string
            required:
            - key
            - msgUser
            - msgDev
        415:
          description: Email exists
          schema:
            title: Email exists
            example:
              key: emailExists
              msgUser: Указанный email уже используется другим пользователем.
              msgDev: Указанный email уже используется другим пользователем.
            type: object
            properties:
              key:
                description: ''
                example: emailExists
                type: string
              msgUser:
                description: ''
                example: Указанный email уже используется другим пользователем.
                type: string
              msgDev:
                description: ''
                example: Указанный email уже используется другим пользователем.
                type: string
            required:
            - key
            - msgUser
            - msgDev
        416:
          description: Invited login is not exist
          schema:
            title: Invited login is not exist
            example:
              key: invitedLoginIsNotExist
              msgUser: Указанный email пригласившего не найден в системе.
              msgDev: Указанный email пригласившего не найден в базе.
            type: object
            properties:
              key:
                description: ''
                example: invitedLoginIsNotExist
                type: string
              msgUser:
                description: ''
                example: Указанный email пригласившего не найден в системе.
                type: string
              msgDev:
                description: ''
                example: Указанный email пригласившего не найден в базе.
                type: string
            required:
            - key
            - msgUser
            - msgDev
      security: []
  /Login:
    post:
      description: "Метод для аутентификации пользователя на сервисе"
      tags:
      - Login
      operationId: Login1
      produces:
      - application/json
      consumes:
      - application/x-www-form-urlencoded
      parameters:
      - name: login
        in: formData
        required: true
        type: string
        description: 'Имя пользователя'
      - name: password
        in: formData
        required: true
        type: string
        description: 'Пароль'
      - in: formData
        name: device_info
        description: 'Информация о девайсе с которого была отправлена информация о чеке'
        required: true
        type: string        
      responses:
        200:
          description: 'Авторизация прошла успешно'
          schema:
            title: Successful authorisation
            example:
              key: successfulAuthorisation
              access_token: 'eyJhbGciOiJIUzI1NiJ9.eyJ1c2VyX2lkIjoyMDIxNzAsImV4cCI6MTUyNDMxNDUyNn0.WKojqh6gLLQJA6ce2aUJj0X_KsubFWB45044HKVdFxA'
            type: object
            properties:
              key:
                description: ''
                example: successfulAuthorisation
                type: string
              access_token:
                description: ''
                example: 'eyJhbGciOiJIUzI1NiJ9.eyJ1c2VyX2lkIjoyMDIxNzAsImV4cCI6MTUyNDMxNDUyNn0.WKojqh6gLLQJA6ce2aUJj0X_KsubFWB45044HKVdFxA'
                type: string
            required:
            - key
            - access_token            
        401:
          description: Unauthorized
          schema:
            $ref: '#/definitions/Failure'
          examples:
            application/json:
              key: badCredentials
              msgUser: Неверно введен логин или пароль
              msgDev: Неверно введен логин или пароль
      security: []
  /Logout:
    get:
      description: "Инвалидация выданных токенов для текущего юзера"
      tags:
      - Logout
      operationId: Logout2
      produces:
      - application/json
      parameters: []
      responses:
        200:
          description: 'Разавторизация пользователя прошла успешно'
          examples:
            application/json: []
        401:
          description: "Unauthorized"
          examples:
            application/json:
              key: tokenInvalid
              msgUser: Сессия не действительна или истекло время, авторизуйтесь
              msgDev: Сессия не действительна, требуется выдача нового token
              domain: ''
      security:
      - auth: []
  /getVersion:
    get:
      description: 'Получение версии приложения'
      tags:
      - getVersion
      operationId: GetVersion3
      produces:
      - application/json
      consumes:
      - application/x-www-form-urlencoded
      parameters:
      - name: platform
        in: formData
        description: 'Платформа мобильного устройства'
        type: string
        enum: [ios, android, safari, firefox, chrome]
        required: true
      - name: version
        in: formData
        required: true
        type: string
        description: 'Версия мобильного приложения (0.0.2)'
      responses:
        200:
          description: 'Версия актуальна'
          examples:
            application/json: []
        default:
          description: Internal Server Error
          schema:
            $ref: '#/definitions/VersionParametersError'
          examples:
            application/json:
              key: versionParametersInvalid
              msgUser: Внутренняя ошибка приложения
              msgDev: Ошибка параметров в запросе соответствия версии приложения и API
              domain: ''
        590:
          description: "Unauthorized"
          examples:
            application/json:
              key: versionMismatch
              msgUser: Версия приложения устарела, скачайте обновление
              msgDev: Версия приложения не совпадает с версией API
              domain: ''     
      security: []
  /RestorePassword:
    post:
      description: "Восстановление пароля"
      tags:
      - RestorePassword
      operationId: RestorePassword4
      produces:
      - application/json
      consumes:
      - application/x-www-form-urlencoded
      parameters:
        - in: formData
          name: login_email
          required: true
          type: string
          description: 'Логин или email пользователя'
      responses:
        200:
          description: 'Верификационный код для восстановления пароля отправлен на почту (или push уведомлением)'
          schema:
            $ref: '#/definitions/UserShort'
          examples:
            application/json:
              user:
              - id: 37967
                login: 'seroga'
        401:
          description: 'Unauthorized'
          examples:
            application/json:
              key: tokenInvalid
              msgUser: 'Сессия не действительна или истекло время, авторизуйтесь'
              msgDev: 'Сессия не действительна, требуется выдача нового token'
              domain: ''
        420:
          description: 'notEnoughData'
          examples:
            application/json:
              key: notEnoughData
              msgUser: 'Не достаточно данных для восстановления'
              msgDev: 'Пользователь не указал ни логина ни email'
              domain: ''
        404:
          description: 'userNorFound'
          examples:
            application/json:
              key: userNorFound
              msgUser: 'Пользователь не найден'
              msgDev: 'Пользователь не найден'
              domain: ''
      security: []
  /SendVerificationCode:
    post:
      description: 'Отправка кода верификации для смены пароля'
      tags:
      - SendVerificationCode
      operationId: SendVerificationCode5
      produces:
      - application/json
      consumes:
      - application/x-www-form-urlencoded
      parameters:
        - in: formData
          name: verification_code
          required: true
          type: string
          description: 'Код верификации для смены пароля'
        - in: formData
          name: login
          required: true
          type: string
          description: 'Логин пользователя, полученный от метода RestorePassword'
      responses:
        200:
          description: 'Код верификации верный'
          schema:
            $ref: '#/definitions/UserShort'
          examples:
            application/json:
              user:
              - id: 37967
                login: 'seroga'
        423:
          description: "Неверный код верификации"
          examples:
            application/json:
              key: WrongCode
              msgUser: 'Введен неверный код верификации'
              msgDev: 'Введен неверный код верификации'
              domain: ''
      security: []
  /SetNewPassword:
    post:
      description: "Установка нового пароля"
      tags:
      - SetNewPassword
      operationId: SetNewPasport6
      produces:
      - application/json
      consumes:
      - application/x-www-form-urlencoded
      parameters:
        - in: formData
          name: password
          required: true
          type: string
          description: 'Новый пароль'
        - in: formData
          name: confirm_password
          required: true
          type: string
          description: 'Подтверждение пароля'
        - in: formData
          name: login
          required: true
          type: string
          description: 'Логин пользователя, полученный от метода SendVerificationCode'
        - in: formData
          name: verification_code
          required: true
          type: string
          description: 'Код верификации для смены пароля'
      responses:
        200:
          description: 'Новый пароль задан успешно'
          examples:
            application/json: []
        424:
          description: "Пароль и подтверждение пароля не совпадают"
          examples:
            application/json:
              key: WrongCode
              msgUser: 'Пароль и подтверждение пароля не совпадают'
              msgDev: 'Пароль и подтверждение пароля не совпадают'
              domain: ''
        411:
          description: Password is too short
          examples:
            application/json:
              key: WrongCode
              msgUser: 'Указан слишком короткий пароль. Пароль не может быть короче 6 символов'
              msgDev: 'Пароль не может быть короче 6 символов'
              domain: ''
        412:
          description: Password is too long
          examples:
            application/json:
              key: passwordIsTooLong
              msgUser: 'Указан слишком длинный пароль. Пароль не может быть длиннее 30 символов'
              msgDev: 'Пароль не может быть длиннее 30 символов'
              domain: ''
        413:
          description: Password Includes wrong symbols
          examples:
            application/json:
              key: passwordIncludesWrongSymbols
              msgUser: 'Пароль содержит неверные символы. Пароль может содержать только буквы латинского алфавита и цифры'
              msgDev: 'Пароль содержит неверные символы. Пароль может содержать только буквы латинского алфавита и цифры'
              domain: ''  
      security: []
  /getProfileDetails:
    get:
      description: "Получение профиля текущего авторизованного юзера."
      tags:
      - getProfileDetails
      operationId: GetProfileDetails7
      produces:
      - application/json
      parameters: []
      responses:
        200:
          description: 'Данные профиля'
          schema:
            $ref: '#/definitions/User'
          examples:
            application/json:
              user:
              - id: 37967
                first_name: 'Сергей'
                last_name: 'Петров'
                login: 'seroga'
                email: 'seregaRulit@gmail.com'
                available_balance: 0.5422
                awaiting_balance: 0.122
                rejected_balance: 0.522
                ref_link: '/ref/6546243243'
        401:
          description: Unauthorized
          schema:
            $ref: '#/definitions/Failure'
          examples:
            application/json:
              key: tokenInvalid
              msgUser: Сессия не действительна или истекло время, авторизуйтесь
              msgDev: Сессия не действительна, требуется выдача нового token
              domain: ''
      security:
      - auth: []    
  /getShopList:
    get:
      description: "Получение списка магазинов."
      tags:
      - getShopList
      operationId: getShopList8
      produces:
      - application/json
      consumes:
      - application/x-www-form-urlencoded
      parameters:
        - in: formData
          name: sort_type
          required: false
          type: string
          description: 'Тип сортировки'
        - in: formData
          name: sort_order
          required: false
          type: string
          description: 'Порядок сортировки'
        - in: formData
          name: filter_name
          required: false
          type: string
          description: 'Фильтр по названию партнера'
        - in: formData
          name: filter_country
          required: false
          type: string
          description: 'Фильтр по стране'
        - in: formData
          name: filter_vip
          required: false
          type: string
          description: 'Фильтр по признаку VIP предложение'
        - in: formData
          name: filter_category
          required: false
          type: string
          description: 'Фильтр по категории, подкатегории'
        - in: formData
          name: filter_favourite
          required: false
          type: string
          description: 'Фильтр по избранным партнерам этого пользователя'
        - in: formData
          name: is_online
          required: false
          type: string
          description: 'Фильтр по признаку возможности совершения покупки через интернет магазин'
        - in: formData
          name: page_number
          required: false
          type: integer
          description: 'Номер страницы (для постраничной навигации)'   
        - in: formData
          name: count
          required: false
          type: integer
          description: 'Колличество записей на странице (для постраничной навигации)' 
      responses:
        200:
          description: 'Получение списка магазинов'
          schema:
            $ref: '#/definitions/Shops'
          examples:
            application/json:
              shops:
              - id: 37967
                title: 'Али экспресс'
                logo: '/url/file/logo.jpg'
                is_online: true
                have_actions: true
                is_top10: true
                active_ref: 'https://aliexpress.com/ref/65462S/?ref=dsfsfscvfs'
                cashback: 0.06
                status: 'Новый'
                category_id: 12
                category_title: 'Обувь'
                country_title: 'Россия'
                detail_text: 'Детальное описание по магазину'
                description: 'Условия по покупке'
                conditions: 'Особые словия по покупке'
              - id: 37967
                title: 'Али экспресс'
                logo: '/url/file/logo.jpg'
                is_online: true
                have_actions: true
                is_top10: true
                active_ref: 'https://aliexpress.com/ref/65462S/?ref=dsfsfscvfs'
                cashback: 0.06
                status: 'Новый'
                category_id: 12
                category_title: 'Обувь'
                country_title: 'Россия'
                detail_text: 'Детальное описание по магазину'
                description: 'Условия по покупке'
                conditions: 'Особые словия по покупке'
              - id: 37967
                title: 'Али экспресс'
                logo: '/url/file/logo.jpg'
                is_online: true
                have_actions: true
                is_top10: true
                active_ref: 'https://aliexpress.com/ref/65462S/?ref=dsfsfscvfs'
                cashback: 0.06
                status: 'Новый'
                category_id: 12
                category_title: 'Обувь'
                country_title: 'Россия'
                detail_text: 'Детальное описание по магазину'
                description: 'Условия по покупке'
                conditions: 'Особые словия по покупке'
      security: [] 
  /getShopListForMap:
    get:
      description: "Получение списка магазинов для их отображния на карте"
      tags:
      - getShopListForMap
      operationId: getShopListForMap8
      produces:
      - application/json
      consumes:
      - application/x-www-form-urlencoded
      parameters:
        - in: formData
          name: min_latitude
          required: false
          type: number
          description: 'Минимальная широта'
        - in: formData
          name: min_longitude
          required: false
          type: number
          description: 'Минимальная долгота'
        - in: formData
          name: max_latitude
          required: false
          type: number
          description: 'Максимальная широта'
        - in: formData
          name: max_longitude
          required: false
          type: number
          description: 'Максимальная долгота'
      responses:
        200:
          description: 'Получение списка магазинов для карты'
          schema:
            $ref: '#/definitions/MapsShops'
          examples:
            application/json:
              shops:
              - id: 37967
                title: 'Али экспресс'
                logo: '/url/file/logo.jpg'
                have_actions: true
                top10: true
                favourite: true
                vip: true
                cashback: 0.06
                oldCashback: 0.06
                category_title: 'Обувь'
                loc: [{x:0.34554564, y:0.345656}, {x:0.34554564, y:0.345656}]
              - id: 37967
                title: 'Али экспресс'
                logo: '/url/file/logo.jpg'
                have_actions: true
                top10: true
                favourite: true
                vip: true
                cashback: 0.06
                oldCashback: 0.06
                category_title: 'Обувь'
                loc: [{x:0.34554564, y:0.345656}, {x:0.34554564, y:0.345656}]
      security: [] 
  /getShop/{shop_id}:
    get:
      description: "Получение информации о магазине."
      tags:
      - getShop
      operationId: getShop9
      produces:
      - application/json
      consumes:
      - application/x-www-form-urlencoded
      parameters:
        - in: path
          name: shop_id
          type: integer
          required: true
          description: Numeric ID of the Shop to get.
      responses:
        200:
          description: 'Получение информации о магазине'
          schema:
            $ref: '#/definitions/Shop'
          examples:
            application/json:
              shop:
                  id: 37967
                  title: 'Али экспресс'
                  list_image: '/url/file/image.jpg'
                  logo: '/url/file/logo.jpg'
                  is_online: true
                  have_actions: true
                  is_top10: true
                  active_ref: 'https://aliexpress.com/ref/65462S/?ref=dsfsfscvfs'
                  cashback: 0.06
                  status: 'Новый'
                  category_id: 12
                  category_title: 'Обувь'
                  country_title: 'Россия'
                  detail_text: 'Детальное описание по магазину'
                  description: 'Условия по покупке'
                  conditions: 'Особые словия по покупке'
      security: []
  /getShop/{shop_id}/actions:
    get:
      description: "Получение списка акций магазина."
      tags:
      - getShopActions
      operationId: getShopActions9
      produces:
      - application/json
      consumes:
      - application/x-www-form-urlencoded
      parameters:
        - in: path
          name: shop_id
          type: integer
          required: true
          description: Numeric ID of the Shop to get.
      responses:
        200:
          description: 'Получение списк акций магазина магазине'
          schema:
            $ref: '#/definitions/Actions'
          examples:
            application/json:
              actions:
              - id: 5039
                active: true
                title: 'Ali express russia'
                logo: '/url/docs/image.jpg'
                extra_benefits: 'Дополнительные преимущества'      
                active_ref: 'https://aliexpress.com/?ref=sdfsdfsdfsd'
                expiry_date: '2018-04-17 00:00:00'
                detail_text: 'Подробные условия акции'
              - id: 5039
                active: true
                title: 'Ali express russia'
                logo: '/url/docs/image.jpg'
                extra_benefitsVersion Auth fix: 'Дополнительные преимущества'      
                active_ref: 'https://aliexpress.com/?ref=sdfsdfsdfsd'
                expiry_date: '2018-04-17 00:00:00'
                detail_text: 'Подробные условия акции'
      security: [] 
  /getBalance:
    get:
      description: 'Получение баланса профиля текущего авторизованного юзера.'
      tags:
      - getBalance
      operationId: GetBalance8
      produces:
      - application/json
      parameters: []
      responses:
        200:
          description: 'Отображение баланса профиля текущего авторизованного юзера'
          schema:
            $ref: '#/definitions/Balance'
          examples:
            application/json:
              available_balance: 181320.14999999999
              awaiting_balance: 9.8800000000000008
        401:
          description: Unauthorized
          schema:
            $ref: '#/definitions/Failure'
          examples:
            application/json:
              key: tokenInvalid
              msgUser: Сессия не действительна или истекло время, авторизуйтесь
              msgDev: Сессия не действительна, требуется выдача нового token
              domain: ''
      security: 
      - auth: []      
  /sendQRCode:
    post:
      description: "Отправка кода чека"
      tags:
      - sendQRCode
      operationId: SendQRCode2
      produces:
      - application/json
      consumes:
      - application/x-www-form-urlencoded
      parameters:
        - in: formData
          name: dataqrcode
          required: true
          type: string
          description: 'Строка расшифрованного штрихкода чека' 
      responses:
        200:
          description: 'Код чека успешно отправлен'
          examples:
            application/json: []
        500:
          description: 'Обязательный параметр dataqrcode не передан'
        default:
          description: Internal Server Error
          schema:
            $ref: '#/definitions/Failure'
          examples:
            application/json:
              key: sendQRParametersInvalid
              msgUser: Внутренняя ошибка приложения
              msgDev: Обязательный параметр dataqrcode не передан
              domain: ''
        401:
          description: с одного устройства может сканироваться не более N штрихкодов с одного заведения в сутки
          schema:
            $ref: '#/definitions/Failure'
          examples:
            application/json:
              key: limitExceeded 
              msgUser: Превышен лимит сканирования штрихкодов этого заведения в сутки
              msgDev: Превышен лимит сканирования штрихкодов этого заведения в сутки
              domain: ''
      security:
      - auth: []
  /getOrders:
    get:
      description: 'Запрос всех покупок с чеками'
      tags:
      - getOrders
      operationId: GetOrders
      produces:
      - application/json
      consumes:
      - application/x-www-form-urlencoded
      parameters: 
        - in: formData
          name: page_number
          required: false
          type: integer
          description: 'Номер страницы (для постраничной навигации)'   
        - in: formData
          name: count
          required: false
          type: integer
          description: 'Колличество записей на странице (для постраничной навигации)' 
      responses:
        200:
          description: 'Успешное получение списка заказов пользователя'
          schema:
            $ref: '#/definitions/Orders'
          examples:
            application/json:
              orders:
              - id: 37967
                shop_name: Aviasales.ru и cash back от WWP Capital
                date_time_order: '2018-01-27 00:00:00'
                amount: 9341
                cash_back: 136.00999999999999
                status: approved
              - id: 28795
                shop_name: Aviasales.ru и cash back от WWP Capital
                date_time_order: '2018-01-05 00:00:00'
                amount: 19426
                cash_back: 282.83999999999997
                status: approved
      security:
      - auth: []
  /getCashVouchers:
    get:
      description: 'Запрос всех чеков'
      tags:
      - getCashVouchers
      operationId: GetCashVouchers
      produces:
      - application/json
      consumes:
      - application/x-www-form-urlencoded
      parameters: 
        - in: formData
          name: page_number
          required: false
          type: integer
          description: 'Номер страницы (для постраничной навигации)'   
        - in: formData
          name: count
          required: false
          type: integer
          description: 'Колличество записей на странице (для постраничной навигации)' 
      responses:
        200:
          description: 'Получение списка чеков'
          schema:
            $ref: '#/definitions/Vouchers'
          examples:
            application/json:
              vouchers:
              - id: 59
                shop_name: Buyon и cash back от WWP Capital
                date_time_order: '2018-04-17 00:00:00'
                amount: 123.5
                cash_back: 9.8800000000000008
                status: declined
              - id: 60
                shop_name: Buyon и cash back от WWP Capital
                date_time_order: '2018-04-17 00:00:00'
                amount: 123.5
                cash_back: 9.8800000000000008
                status: declined
              - id: 61
                shop_name: Buyon и cash back от WWP Capital
                date_time_order: '2018-04-17 00:00:00'
                amount: 123.5
                cash_back: 9.8800000000000008
                status: declined
              - id: 62
                shop_name: Buyon и cash back от WWP Capital
                date_time_order: '2018-04-17 00:00:00'
                amount: 123.5
                cash_back: 9.8800000000000008
                status: declined
      security:
      - auth: []
  /getActions:
    get:
      description: 'Запрос списка акций'
      tags:
      - getActions
      operationId: getActions
      produces:
      - application/json
      consumes:
      - application/x-www-form-urlencoded
      parameters:
        - in: formData
          name: sort_type
          required: false
          type: string
          description: 'Тип сортировки'
        - in: formData
          name: sort_order
          required: false
          type: string
          description: 'Порядок сортировки'
        - in: formData
          name: filter_name
          required: false
          type: string
          description: 'Фильтр по названию акции'
        - in: formData
          name: filter_category
          required: false
          type: string
          description: 'Фильтр по категории акции'
        - in: formData
          name: page_number
          required: false
          type: integer
          description: 'Номер страницы (для постраничной навигации)'   
        - in: formData
          name: count
          required: false
          type: integer
          description: 'Колличество записей на странице (для постраничной навигации)' 
      responses:
        200:
          description: 'Получение списка акций'
          schema:
            $ref: '#/definitions/Actions'
          examples:
            application/json:
              actions:
              - id: 5039
                active: true
                title: 'Ali express russia'
                logo: '/url/docs/image.jpg'
                extra_benefits: 'Дополнительные преимущества'      
                all_shop_actions_link: '/actionlist/ali_express/'
                active_ref: 'https://aliexpress.com/?ref=sdfsdfsdfsd'
                expiry_date: '2018-04-17 00:00:00'
                detail_text: 'Подробные условия акции'
              - id: 5039
                active: true
                title: 'Ali express russia'
                logo: '/url/docs/image.jpg'
                extra_benefitsVersion Auth fix: 'Дополнительные преимущества'      
                all_shop_actions_link: '/actionlist/ali_express/'
                active_ref: 'https://aliexpress.com/?ref=sdfsdfsdfsd'
                expiry_date: '2018-04-17 00:00:00'
                detail_text: 'Подробные условия акции'
      security: []      
  /sendFeedback:
    post:
      description: "Отправка сообщения"
      tags:
      - sendFeedback
      operationId: SendFeedbackPost
      produces:
      - application/json
      consumes:
      - application/x-www-form-urlencoded
      parameters:
      - in: formData
        name: title
        required: true
        type: string
        description: 'Заголовок письма' 
      - in: formData
        name: description
        required: true
        type: string
        description: 'Текст письма'
      responses:
        200:
          description: 'Успешная отправка сообщения'
        default:
          description: Internal Server Error
          schema:
            $ref: '#/definitions/Failure'
          examples:
            application/json:
              key: sendFeedbackParametersInvalid
              msgUser: Внутренняя ошибка приложения
              msgDev: Обязательные параметры title и description не переданы
              domain: ''
      security: 
      - auth: []
  /addShopToFavourites:
    post:
      description: "Добавление магазина в избранное"
      tags:
      - addShopToFavourites
      operationId: addShopToFavouritesPost
      produces:
      - application/json
      consumes:
      - application/x-www-form-urlencoded
      parameters:
      - in: formData
        name: shop_id
        required: true
        type: string
        description: 'ID магазина' 
      responses:
        200:
          description: 'Магазин успешно добавлен в избранное'
          examples:
            application/json: []
        418:
          description: Не указан shopId
          schema:
            $ref: '#/definitions/Failure'
          examples:
            application/json:
              key: sendFeedbackParametersInvalid
              msgUser: Внутренняя ошибка приложения
              msgDev: Обязательный параметр shopId не передан
              domain: ''
        419:
          description: Не найден магазин с указанным shopId
          schema:
            title: Shop not found
            example:
              key: shopNotFound
              msgUser: Не найден магазин с указанным shopId
              msgDev: Не найден магазин с указанным shopId
            type: object
            properties:
              key:
                description: 'Ключ'
                example: shopNotFound
                type: string
              msgUser:
                description: 'Сообщение для пользователя'
                example: Не найден магазин с указанным shopId
                type: string
              msgDev:
                description: 'Сообщение для разработчика'
                example: Не найден магазин с указанным shopId
                type: string
            required:
            - key
            - msgUser
            - msgDev
      security: 
      - auth: []
  /removeShopFromFavourites:
    post:
      description: "Добавление магазина в избранное"
      tags:
      - removeShopFromFavourites
      operationId: removeShopFromFavouritesPost
      produces:
      - application/json
      consumes:
      - application/x-www-form-urlencoded
      parameters:
      - in: formData
        name: shop_id
        required: true
        type: string
        description: 'ID магазина' 
      responses:
        200:
          description: 'Магазин успешно удален из избранного'
          examples:
            application/json: []
        417:
          description: Не указан shopId
          schema:
            $ref: '#/definitions/Failure'
          examples:
            application/json:
              key: sendFeedbackParametersInvalid
              msgUser: Внутренняя ошибка приложения
              msgDev: Обязательный параметр shopId не передан
              domain: ''
        418:
          description: Не найден магазин с указанным shopId
          schema:
            title: Shop not found
            example:
              key: shopNotFound
              msgUser: Не найден магазин с указанным shopId
              msgDev: Не найден магазин с указанным shopId
            type: object
            properties:
              key:
                description: 'Ключ'
                example: shopNotFound
                type: string
              msgUser:
                description: 'Сообщение для пользователя'
                example: Не найден магазин с указанным shopId
                type: string
              msgDev:
                description: 'Сообщение для разработчика'
                example: Не найден магазин с указанным shopId
                type: string
            required:
            - key
            - msgUser
            - msgDev
      security: 
      - auth: []      
  /getFavourites:
    get:
      description: "Получение списка избранных магазинов."
      tags:
      - getFavourites
      operationId: getFavourites
      produces:
      - application/json
      consumes:
      - application/x-www-form-urlencoded
      parameters: 
        - in: formData
          name: sort_type
          required: false
          type: string
          description: 'Тип сортировки'
        - in: formData
          name: sort_order
          required: false
          type: string
          description: 'Порядок сортировки'
        - in: formData
          name: page_number
          required: false
          type: integer
          description: 'Номер страницы (для постраничной навигации)'   
        - in: formData
          name: count
          required: false
          type: integer
          description: 'Колличество записей на странице (для постраничной навигации)' 
      responses:
        200:
          description: 'Получение списка избранных магазинов'
          schema:
            $ref: '#/definitions/Shops'
          examples:
            application/json:
              shops:
              - id: 37967
                title: 'Али экспресс'
                logo: '/url/file/logo.jpg'
                is_online: true
                have_actions: true
                is_top10: true
                active_ref: 'https://aliexpress.com/ref/65462S/?ref=dsfsfscvfs'
                cashback: 0.06
                status: 'Новый'
                category_id: 12
                country_title: 'Россия'
                detail_text: 'Детальное описание по магазину'
                description: 'Условия по покупке'
                conditions: 'Особые словия по покупке'
              - id: 37967
                title: 'Али экспресс'
                logo: '/url/file/logo.jpg'
                is_online: true
                have_actions: true
                is_top10: true
                active_ref: 'https://aliexpress.com/ref/65462S/?ref=dsfsfscvfs'
                cashback: 0.06
                status: 'Новый'
                category_id: 12
                country_title: 'Россия'
                detail_text: 'Детальное описание по магазину'
                description: 'Условия по покупке'
                conditions: 'Особые словия по покупке'
              - id: 37967
                title: 'Али экспресс'
                logo: '/url/file/logo.jpg'
                is_online: true
                have_actions: true
                is_top10: true
                active_ref: 'https://aliexpress.com/ref/65462S/?ref=dsfsfscvfs'
                cashback: 0.06
                status: 'Новый'
                category_id: 12
                country_title: 'Россия'
                detail_text: 'Детальное описание по магазину'
                description: 'Условия по покупке'
                conditions: 'Особые словия по покупке'
      security:
      - auth: []
  /getCategoty:
    get:
      description: "Получение списка категорий"
      tags:
      - getCategoty
      operationId: getCategoty
      produces:
      - application/json
      consumes:
      - application/x-www-form-urlencoded
      responses:
        200:
          description: 'Получение списка категорий'
          schema:
            $ref: '#/definitions/Category'
          examples:
            application/json:
              shops:
              - id: 37967
                title: 'Обувь'
                code: 'shoes'
              - id: 37967
                title: 'Обувь'
                code: 'shoes'
              - id: 37967
                title: 'Обувь'
                code: 'shoes'
      security: []
  /getCountry:
    get:
      description: "Получение списка стран"
      tags:
      - getCountry
      operationId: getCountry
      produces:
      - application/json
      consumes:
      - application/x-www-form-urlencoded
      responses:
        200:
          description: 'Получение списка стран'
          schema:
            $ref: '#/definitions/Country'
          examples:
            application/json:
              shops:
              - id: 37967
                title: 'Россия'
                code: 'russia'
              - id: 37967
                title: 'Россия'
                code: 'russia'
              - id: 37967
                title: 'Россия'
                code: 'russia'
      security: []  
definitions:
  Successfull:
    title: Successfull
    example:
      access_token: eyJhbGciOiJIUzI1NiJ9.eyJ1c2VyX2lkIjoyMDIxNzAsImV4cCI6MTUyNDMxNDUyNn0.WKojqh6gLLQJA6ce2aUJj0X_KsubFWB45044HKVdFxA
    type: object
    properties:
      access_token:
        description: 'Токен авторизации'
        example: eyJhbGciOiJIUzI1NiJ9.eyJ1c2VyX2lkIjoyMDIxNzAsImV4cCI6MTUyNDMxNDUyNn0.WKojqh6gLLQJA6ce2aUJj0X_KsubFWB45044HKVdFxA
        type: string
    required:
    - access_token
  Failure:
    title: Failure
    example:
      key: badCredentials
      msgUser: Неверно введен логин или пароль
      msgDev: Неверно введен логин или пароль
      domain: ''
    type: object
    properties:
      key:
        description: 'Код ошибки'
        example: badCredentials
        type: string
      msgUser:
        description: 'Сообщение об ошибке для пользователя'
        example: Неверно введен логин или пароль
        type: string
      msgDev:
        description: 'Сообщение об ошибке для разработчика'
        example: Неверно введен логин или пароль
        type: string
      domain:
        description: ''
        type: string
    required:
    - key
    - msgUser
    - msgDev
    - domain
  VersionMismatch:
    title: Version mismatch
    example:
      key: versionMismatch
      msgUser: Версия приложения устарела, скачайте обновление
      msgDev: Версия приложения не совпадает с версией API
      domain: ''
    type: object
    properties:
      key:
        description: 'Код ошибки'
        example: versionMismatch
        type: string
      msgUser:
        description: 'Сообщение об ошибке для пользователя'
        example: Версия приложения устарела, скачайте обновление
        type: string
      msgDev:
        description: 'Сообщение об ошибке для разработчика'
        example: Версия приложения не совпадает с версией API
        type: string
      domain:
        description: ''
        type: string
    required:
    - key
    - msgUser
    - msgDev
    - domain
  VersionParametersError:
    title: Version parameters error
    example:
      key: versionParametersInvalid
      msgUser: Внутренняя ошибка приложения
      msgDev: Ошибка параметров в запросе соответствия версии приложения и API
      domain: ''
    type: object
    properties:
      key:
        description: 'Код ошибки'
        example: versionParametersInvalid
        type: string
      msgUser:
        description: 'Сообщение об ошибке для пользователя'
        example: Внутренняя ошибка приложения
        type: string
      msgDev:
        description: 'Сообщение об ошибке для разработчика'
        example: Ошибка параметров в запросе соответствия версии приложения и API
        type: string
      domain:
        description: ''
        type: string
    required:
    - key
    - msgUser
    - msgDev
    - domain
  Successfull5:
    title: Successfull5
    example:
      user:
        id: 5039
        first_name: Пужанская
        last_name: Яна
        login: win17
        email: winyanamagazine@yandex.ru
        available_balance: 181320.14999999999
        awaiting_balance: 0
        ref_link: https://switips.com/?u=win17
    type: object
    properties:
      user:
        $ref: '#/definitions/User'
    required:
    - user
  Shops:
    title: Shops
    example:
      shops:
      - id: 37967
        title: 'Али экспресс'
        logo: '/url/file/logo.jpg'
        is_online: true
        have_actions: true
        is_top10: true
        active_ref: 'https://aliexpress.com/ref/65462S/?ref=dsfsfscvfs'
        cashback: 0.06
        oldCashback: 0.06
        status: 'Новый'
        category_id: 12
        country_title: 'Россия'
        detail_text: 'Детальное описание по магазину'
        description: 'Условия по покупке'
        conditions: 'Особые словия по покупке'
      - id: 37967
        title: 'Али экспресс'
        logo: '/url/file/logo.jpg'
        is_online: true
        have_actions: true
        is_top10: true
        active_ref: 'https://aliexpress.com/ref/65462S/?ref=dsfsfscvfs'
        cashback: 0.06
        oldCashback: 0.06
        status: 'Новый'
        category_id: 12
        country_title: 'Россия'
        detail_text: 'Детальное описание по магазину'
        description: 'Условия по покупке'
        conditions: 'Особые словия по покупке'
    type: object
    properties:
      shops:
        description: 'Список магазинов'
        example:
        - id: 37967
          title: 'Али экспресс'
          logo: '/url/file/logo.jpg'
          is_online: true
          have_actions: true
          is_top10: true
          active_ref: 'https://aliexpress.com/ref/65462S/?ref=dsfsfscvfs'
          cashback: 0.06
          oldCashback: 0.06
          status: 'Новый'
          category_id: 12
          category_title: 'Обувь'  
          country_title: 'Россия'
          detail_text: 'Детальное описание по магазину'
          description: 'Условия по покупке'
          conditions: 'Особые словия по покупке'
        - id: 37967
          title: 'Али экспресс'
          logo: '/url/file/logo.jpg'
          is_online: true
          have_actions: true
          is_top10: true
          active_ref: 'https://aliexpress.com/ref/65462S/?ref=dsfsfscvfs'
          cashback: 0.06
          oldCashback: 0.06
          status: 'Новый'
          category_id: 12
          category_title: 'Обувь'  
          country_title: 'Россия'
          detail_text: 'Детальное описание по магазину'
          description: 'Условия по покупке'
          conditions: 'Особые словия по покупке'
        type: array
        items:
          $ref: '#/definitions/Shop'
    required:
    - shops
  Shop:
    title: Shop
    example:
      shop: 
        id: 5039
        active: true
        title: 'Ali express russia'
        logo: '/url/docs/image.jpg'
        is_online: true
        have_actions: true
        is_top10: false
        active_ref: 'https://aliexpress.com/?ref=sdfsdfsdfsd'
        cashback: 0.05
        oldCashback: 0.05
        status: 'Новый'
        category_id: 12
        category_title: 'Обувь'  
        country_title: 'Россия'
        detail_text: 'Подробное описание партнеров'
        description: 'Условия начисления кэшбэка, условия продаж'
        conditions: 'Особые условия партнера'
        loc: [{0.34554564, 0.345656}, {0.34554564, 0.345656}]
    type: object
    properties:
      id:
        description: 'Идентификатор, назначается автоматически'
        example: 5039
        type: integer
        format: int32
      active:
        description: 'Активность'
        example: true
        type: boolean
      title:
        description: 'Название партнера/магазина'
        example: 'Али экспресс'
        type: string
      logo:
        description: 'Изображение логотипа партнера (Логотип партнера)'
        example: '/url/docs/image.jpg'
        type: string
      is_online:
        description: 'Доступность покупки в интернет магазине'
        example: false
        type: boolean
      have_actions:
        description: 'Магазин имеет акции'
        example: true
        type: boolean
      top10:
        description: 'Магазин имеет шильду Топ10'
        example: true
        type: boolean
      favourite:
        description: 'Магазин является избранным'
        example: true
        type: boolean
      vip:
        description: 'Магазин является VIP партнером'
        example: true
        type: boolean
      mobile_trafic:
        description: 'Признак выставляется у магазинов, которые поддерживают работы с мобильными устройствами'
        example: true
        type: boolean
      active_ref:
        description: 'Ссылка на магазин партнера с реферальными метками для возврата кэшбека (Кнопка перехода за покупками). Значение доступно только для авторизованных пользователей.'
        example: 'https://aliexpress.com/?ref=dfdffdfd'
        type: string
      cashback:
        description: 'Текущая ставка кэшбэка партнера'
        example: 0.2123
        type: number
        format: float
      oldCashback:
        description: 'Текущая ставка кэшбэка партнера'
        example: 0.2123
        type: number
        format: float
      status:
        description: 'Статус партнера'
        example: 'Новый'
        type: string
      category_id:
        description: 'Идентификатор категории (Группа товаров по которой у партнера актуально предложение)'
        example: 4
        type: integer
        format: int8
      category_title:
        description: 'Название категории (Группа товаров по которой у партнера актуально предложение)'
        example: 'Обувь'
        type: string
      country_title:
        description: 'Название страны'
        example: 'Россия'
        type: string
      detail_text:
        description: 'Подробное описание партнеров'
        example: 'adidas - это компания, которая каждый день меняет жизнь людей через спорт, создавая новое и стирая границы невозможного. Это компания, которая живет спортом, вдохновляет своим примером и помогает людям делать уверенные шаги навстречу ярким достижениям'
        type: string
      description:
        description: 'Условия начисления кэшбэка, условия продаж'
        example: 'Cash Back будет начислен за каждую сделанную покупку в интернет-магазине партнера только в том случае, если вы перейдете с сайта Switips в этот интернет-магазин. Оплатить свою покупку вы можете любым способом, который предлагается в интернет-магазине партнера.'
        type: string
      conditions:
        description: 'Особые условия'
        example: 'В настоящий момент партнер не предоставляет эксклюзивных условий для участников.'
        type: string
      loc:
        description: 'Координаты местонахождения магазинов'
        example: [{0.34554564, 0.345656}, {0.34554564, 0.345656}]
        type: string
    required:
    - id
    - active
    - title
    - logo
    - is_online
    - status
    - category_title
    - cashback
  User:
    title: User
    example:
      id: 5039
      first_name: Пужанская
      last_name: Яна
      login: win17
      email: winyanamagazine@yandex.ru
      available_balance: 181320.14999999999
      awaiting_balance: 0
      rejected_balance: 0.522
      ref_link: https://switips.com/?u=win17
    type: object
    properties:
      id:
        description: 'Идентификатор пользователя, назначается автоматически'
        example: 5039
        type: integer
        format: int32
      first_name:
        description: 'Имя пользователя'
        example: Пужанская
        type: string
      last_name:
        description: 'Фамилия пользователя'
        example: Яна
        type: string
      login:
        description: 'Логин'
        example: win17
        type: string
      email:
        description: 'Электронная почта'
        example: winyanamagazine@yandex.ru
        type: string
      available_balance:
        description: 'Доступный внутренний баланс пользователя'
        example: 181320.14999999999
        type: number
        format: float
      awaiting_balance:
        description: 'Баланс ожидающий поступления на счет пользователя, не доступный для зачисления'
        example: 0
        type: number
        format: double
      rejected_balance:
        description: 'Баланс отклоненных средств'
        example: 9.8800000000000008
        type: number
        format: double
      ref_link:
        description: 'Рефераальная ссылка пользователя'
        example: https://switips.com/?u=win17
        type: string
    required:
    - id
    - first_name
    - last_name
    - login
    - email
    - available_balance
    - awaiting_balance
    - ref_link
  UserShort:
    title: UserShort
    example:
      id: 5039
      login: win17
    type: object
    properties:
      id:
        description: 'Идентификатор пользователя, назначается автоматически'
        example: 5039
        type: integer
        format: int32
      login:
        description: 'Логин'
        example: win17
        type: string
    required:
    - id
    - login
  Balance:
    title: Balance
    example:
      available_balance: 181320.14999999999
      awaiting_balance: 9.8800000000000008
      rejected_balance: 1.14999999999
    type: object
    properties:
      available_balance:
        description: 'Доступный внутренний баланс пользователя'
        example: 181320.14999999999
        type: number
        format: double
      awaiting_balance:
        description: 'Баланс ожидающий поступления на счет пользователя, не доступный для зачисления'
        example: 9.8800000000000008
        type: number
        format: double
      rejected_balance:
        description: 'Баланс отклоненных средств'
        example: 9.8800000000000008
        type: number
        format: double
    required:
    - available_balance
    - awaiting_balance
    - rejected_balance
  Orders:
    title: Orders
    example:
      orders:
      - id: 37967
        shop_name: Aviasales.ru и cash back от WWP Capital
        date_time_order: '2018-01-27 00:00:00'
        amount: 9341
        cash_back: 136.00999999999999
        status: approved
      - id: 28795
        shop_name: Aviasales.ru и cash back от WWP Capital
        date_time_order: '2018-01-05 00:00:00'
        amount: 19426
        cash_back: 282.83999999999997
        status: approved
    type: object
    properties:
      orders:
        description: 'Список заказов'
        example:
        - id: 37967
          shop_name: Aviasales.ru и cash back от WWP Capital
          date_time_order: '2018-01-27 00:00:00'
          amount: 9341
          cash_back: 136.00999999999999
          status: approved
        - id: 28795
          shop_name: Aviasales.ru и cash back от WWP Capital
          date_time_order: '2018-01-05 00:00:00'
          amount: 19426
          cash_back: 282.83999999999997
          status: approved
        type: array
        items:
          $ref: '#/definitions/Order'
    required:
    - orders
  Order:
    title: Order
    example:
      id: 37967
      shop_name: Aviasales.ru и cash back от WWP Capital
      date_time_order: '2018-01-27 00:00:00'
      amount: 9341
      cash_back: 136.00999999999999
      status: approved
    type: object
    properties:
      id:
        description: 'ID заказа из системы Switips'
        example: 37967
        type: integer
        format: int32
      shop_name:
        description: 'Название магазина'
        example: Aviasales.ru и cash back от WWP Capital
        type: string
      date_time_order:
        description: 'Дата покупки'
        example: '2018-01-27 00:00:00'
        type: string
      amount:
        description: 'Сумма заказа'
        example: 9341
        type: number
        format: float
      cash_back:
        description: 'Сумма кешбэка'
        example: 136.00999999999999
        type: number
        format: float
      status:
        description: 'Статус (pending — В ожидании; approved — Подтверждён; declined — Отменен)'
        example: approved
        type: string
    required:
    - id
    - shop_name
    - date_time_order
    - amount
    - cash_back
    - status
  Vouchers:
    title: Vouchers
    example:
      vouchers:
      - id: 59
        shop_name: Buyon и cash back от WWP Capital
        date_time_order: '2018-04-17 00:00:00'
        amount: 123.5
        cash_back: 9.8800000000000008
        status: declined
      - id: 60
        shop_name: Buyon и cash back от WWP Capital
        date_time_order: '2018-04-17 00:00:00'
        amount: 123.5
        cash_back: 9.8800000000000008
        status: declined
      - id: 61
        shop_name: Buyon и cash back от WWP Capital
        date_time_order: '2018-04-17 00:00:00'
        amount: 123.5
        cash_back: 9.8800000000000008
        status: approved
      - id: 62
        shop_name: Buyon и cash back от WWP Capital
        date_time_order: '2018-04-17 00:00:00'
        amount: 123.5
        cash_back: 0
        status: pending
    type: object
    properties:
      vouchers:
        description: 'Список покупок (список чеков)'
        example:
        - id: 59
          shop_name: Buyon и cash back от WWP Capital
          date_time_order: '2018-04-17 00:00:00'
          amount: 123.5
          cash_back: 9.8800000000000008
          status: declined
        - id: 60
          shop_name: Buyon и cash back от WWP Capital
          date_time_order: '2018-04-17 00:00:00'
          amount: 123.5
          cash_back: 9.8800000000000008
          status: declined
        - id: 61
          shop_name: Buyon и cash back от WWP Capital
          date_time_order: '2018-04-17 00:00:00'
          amount: 123.5
          cash_back: 9.8800000000000008
          status: declined
        - id: 62
          shop_name: Buyon и cash back от WWP Capital
          date_time_order: '2018-04-17 00:00:00'
          amount: 123.5
          cash_back: 9.8800000000000008
          status: declined
        type: array
        items:
          $ref: '#/definitions/Voucher'
    required:
    - vouchers
  Voucher:
    title: Voucher
    example:
      id: 59
      shopName: Buyon и cash back от WWP Capital
      dateTimeOrder: '2018-04-17 00:00:00'
      amount: 123.5
      cashBack: 9.8800000000000008
      status: declined
    type: object
    properties:
      id:
        description: 'ID чека из системы Switips'
        example: 59
        type: integer
        format: int32
      shop_name:
        description: 'Название магазина'
        example: Buyon и cash back от WWP Capital
        type: string
      date_time_order:
        description: 'Дата/время заказа'
        example: '2018-04-17 00:00:00'
        type: string
      amount:
        description: 'Сумма заказа'
        example: 123.5
        type: number
        format: float
      cash_back:
        description: 'Сумма кешбэка'
        example: 9.8800000000000008
        type: number
        format: float
      status:
        description: 'Статус чека (pending — В ожидании; approved — Подтверждён; declined — Отменен).'
        example: declined
        type: string
    required:
    - id
    - shop_name
    - date_time_order
    - amount
    - cash_back
    - status
  Action:
    title: Action
    example:
      id: 5039
      active: true
      title: 'Ali express russia'
      logo: '/url/docs/image.jpg'
      extra_benefits: 'Дополнительные преимущества'      
      all_shop_actions_link: '/actionlist/ali_express/'
      active_ref: 'https://aliexpress.com/?ref=sdfsdfsdfsd'
      expiry_date: '2018-04-17 00:00:00'
      detail_text: 'Подробные условия акции'
    type: object
    properties:
      id:
        description: 'Идентификатор, назначается автоматически'
        example: 5039
        type: integer
        format: int32
      active:
        description: 'Активность'
        example: true
        type: boolean
      title:
        description: 'Заголовок акции'
        example: 'Али экспресс'
        type: string
      logo:
        description: 'Изображение логотипа партнера (Логотип партнера)'
        example: '/url/docs/image.jpg'
        type: string
      extra_benefits:
        description: 'Дополнительные преимущества акции'
        example: 'Обновите крупную бытовую технику с выгодой! Действует уникальная акция на холодильники, посудомоечные и стиральные машины, плиты, а также встраиваемую технику Bosch. '
        type: string
      all_shop_actions_link:
        description: 'Ссылка на просмотр всех акций этого партнера'
        example: '/actionlist/ali_express/'
        type: string
      active_ref:
        description: 'Ссылка на магазин партнера с реферальными метками для возврата кэшбека (Кнопка перехода за покупками)'
        example: 'https://aliexpress.com/?ref=dfdffdfd'
        type: string
      expiry_date:
        description: 'Дата окончания акции'
        example: '2018-04-17 00:00:00'
        type: string
      detail_text:
        description: 'Подробные условия акции'
        example: 'одробные условия акции'
        type: string
    required:
    - id
    - active
    - title
    - logo
    - extra_benefits
    - active_ref
    - expiry_date 
    - detail_text
  Actions:
    title: Actions
    example:
      actions:
      - id: 5039
        active: true
        title: 'Ali express russia'
        logo: '/url/docs/image.jpg'
        extra_benefits: 'Дополнительные преимущества'      
        active_ref: 'https://aliexpress.com/?ref=sdfsdfsdfsd'
        expiry_date: '2018-04-17 00:00:00'
        detail_text: 'Подробные условия акции'
      - id: 5039
        active: true
        title: 'Ali express russia'
        logo: '/url/docs/image.jpg'
        extra_benefits: 'Дополнительные преимущества'      
        active_ref: 'https://aliexpress.com/?ref=sdfsdfsdfsd'
        expiry_date: '2018-04-17 00:00:00'
        detail_text: 'Подробные условия акции'
    type: object
    properties:
      actions:
        description: 'Список акций'
        example:
        - id: 5039
          active: true
          title: 'Ali express russia'
          logo: '/url/docs/image.jpg'
          extra_benefits: 'Дополнительные преимущества'      
          active_ref: 'https://aliexpress.com/?ref=sdfsdfsdfsd'
          expiry_date: '2018-04-17 00:00:00'
          detail_text: 'Подробные условия акции'
        - id: 5039
          active: true
          title: 'Ali express russia'
          logo: '/url/docs/image.jpg'
          extra_benefits: 'Дополнительные преимущества'      
          active_ref: 'https://aliexpress.com/?ref=sdfsdfsdfsd'
          expiry_date: '2018-04-17 00:00:00'
          detail_text: 'Подробные условия акции'
        type: array
        items:
          $ref: '#/definitions/Action'
    required:
    - actions
  Favourites:
    title: Favourites
    example:
      favourites:
      - id: 37967
        title: 'Али экспресс'
        list_image: '/url/file/image.jpg'
        logo: '/url/file/logo.jpg'
        is_online: true
        have_actions: true
        is_top10: true
        active_ref: 'https://aliexpress.com/ref/65462S/?ref=dsfsfscvfs'
        cashback: 0.06
        oldCashback: 0.01
        status: 'Новый'
        category_id: 12
        country_title: 'Россия'
        detail_text: 'Детальное описание по магазину'
        description: 'Условия по покупке'
        conditions: 'Особые словия по покупке'
      - id: 37967
        title: 'Али экспресс'
        list_image: '/url/file/image.jpg'
        logo: '/url/file/logo.jpg'
        is_online: true
        have_actions: true
        is_top10: true
        active_ref: 'https://aliexpress.com/ref/65462S/?ref=dsfsfscvfs'
        cashback: 0.06
        oldCashback: 0.01
        status: 'Новый'
        category_id: 12
        country_title: 'Россия'
        detail_text: 'Детальное описание по магазину'
        description: 'Условия по покупке'
        conditions: 'Особые словия по покупке'
    type: object
    properties:
      favourites:
        description: 'Список магазинов'
        example:
        - id: 37967
          title: 'Али экспресс'
          list_image: '/url/file/image.jpg'
          logo: '/url/file/logo.jpg'
          is_online: true
          have_actions: true
          is_top10: true
          active_ref: 'https://aliexpress.com/ref/65462S/?ref=dsfsfscvfs'
          cashback: 0.06
          oldCashback: 0.01
          status: 'Новый'
          category_id: 12
          country_title: 'Россия'
          detail_text: 'Детальное описание по магазину'
          description: 'Условия по покупке'
          conditions: 'Особые словия по покупке'
        - id: 37967
          title: 'Али экспресс'
          list_image: '/url/file/image.jpg'
          logo: '/url/file/logo.jpg'
          is_online: true
          have_actions: true
          is_top10: true
          active_ref: 'https://aliexpress.com/ref/65462S/?ref=dsfsfscvfs'
          cashback: 0.06
          oldCashback: 0.01
          status: 'Новый'
          category_id: 12
          country_title: 'Россия'
          detail_text: 'Детальное описание по магазину'
          description: 'Условия по покупке'
          conditions: 'Особые словия по покупке'
        type: array
        items:
          $ref: '#/definitions/Shop'
    required:
    - shops
  Category:
    title: Category
    example:
      id: 37967
      title: 'Обувь'
    type: object
    properties:
      id:
        description: 'ID категории из системы Switips'
        example: 37967
        type: integer
        format: int32
      title:
        description: 'Заголовок категории'
        example: 'Обувь'
        type: string
    required:
    - id
    - title
  MapsShops:
    title: MapsShops
    example:
      shops:
      - id: 37967
        title: 'Али экспресс'
        logo: '/url/file/logo.jpg'
        have_actions: true
        top10: true
        favourite: true
        vip: true
        cashback: 0.06
        oldCashback: 0.06
        category_title: 'Обувь'
        loc: [{0.34554564, 0.345656}, {0.34554564, 0.345656}]
      - id: 37967
        title: 'Али экспресс'
        logo: '/url/file/logo.jpg'
        have_actions: true
        top10: true
        favourite: true
        vip: true
        cashback: 0.06
        oldCashback: 0.06
        category_title: 'Обувь'
        loc: [{0.34554564, 0.345656}, {0.34554564, 0.345656}]
    type: object
    properties:
      shops:
        description: 'Список магазинов'
        example:
        - id: 37967
          title: 'Али экспресс'
          logo: '/url/file/logo.jpg'
          have_actions: true
          is_top10: true
          cashback: 0.06
          oldCashback: 0.06
          category_title: 'Обувь'
          country_title: 'Россия'
        - id: 37967
          title: 'Али экспресс'
          logo: '/url/file/logo.jpg'
          have_actions: true
          top10: true
          favourite: true
          vip: true
          cashback: 0.06
          oldCashback: 0.06
          category_title: 'Обувь'
          loc: [{0.34554564, 0.345656}, {0.34554564, 0.345656}]
        type: array
        items:
          $ref: '#/definitions/MapsShop'
    required:
    - shops
  MapsShop:
    title: MapsShop
    example:
      shop: 
        id: 5039
        title: 'Али экспресс'
        logo: '/url/file/logo.jpg'
        have_actions: true
        top10: true
        favourite: true
        vip: true
        cashback: 0.06
        oldCashback: 0.06
        category_title: 'Обувь'
        loc: [{0.34554564, 0.345656}, {0.34554564, 0.345656}]
    type: object
    properties:
      id:
        description: 'Идентификатор, назначается автоматически'
        example: 5039
        type: integer
        format: int32
      title:
        description: 'Название партнера/магазина'
        example: 'Али экспресс'
        type: string
      logo:
        description: 'Изображение логотипа партнера (Логотип партнера)'
        example: '/url/docs/image.jpg'
        type: string
      have_actions:
        description: 'Магазин имеет акции'
        example: true
        type: boolean
      top10:
        description: 'Магазин имеет шильду Топ10'
        example: true
        type: boolean
      favourite:
        description: 'Магазин является избранным'
        example: true
        type: boolean
      vip:
        description: 'Магазин является VIP партнером'
        example: true
        type: boolean
      cashback:
        description: 'Текущая ставка кэшбэка партнера'
        example: 0.2123
        type: number
        format: float
      oldCashback:
        description: 'Старая ставка кэшбэка партнера'
        example: 0.2123
        type: number
        format: float
      category_title:
        description: 'Название категории (Группа товаров по которой у партнера актуально предложение)'
        example: 'Обувь'
        type: string
      loc:
        description: 'Массив с координатами магазинов'
        example: [{0.34554564, 0.345656}, {0.34554564, 0.345656}]
        type: string
    required:
    - id
    - title
    - logo
    - have_actions
    - top10
    - favourite
    - vip
    - category_title
    - cashback
    - oldCashback
    - loc
  DeviceInfo:
    title: DeviceInfo
    type: object
    properties:
      screenResolution:
        description: 'Разрешение экрана'
        example: '320x568-x2.0'
        type: string
      osVersion:
        description: 'Версия операционной системы'
        example: '11.2'
        type: string
      platform:
        description: 'Платформа устройства'
        example: 'ios'
        type: string
      udid:
        description: 'ID идентификатора'
        example: 'BD74BE55-A05B-4CE6-B8FC-C8AAA025EF9A'
        type: string
      lang:
        description: 'Язык локализации устройства'
        example: 'ru'
        type: string
      brandName:
        description: 'Название бренда компании производителя'
        example: 'Apple'
        type: string
      model:
        description: 'Модель устройства'
        example: 'iPhone7,1'
        type: string
      heightPx:
        description: 'Высота экрана в пикселях'
        example: 1136
        type: number
        format: integer
      widthPx:
        description: 'Ширина экрана в пикселях'
        example: 640
        type: number
        format: integer
      appVersion:
        description: 'Версия приложения'
        example: '1.0.1'
        type: string
  Categories:
    title: Categories
    example:
      shops:
      - id: 37967
        title: 'Обувь'
        code: 'shoes'
      - id: 37967
        title: 'Обувь'
        code: 'shoes'
    type: object
    properties:
      countries:
        description: 'Список стран'
        example:
        - id: 37967
          title: 'Обувь'
          code: 'russia'
        - id: 37967
          title: 'Россия'
          code: 'russia'
        type: array
        items:
          $ref: '#/definitions/Category'
    required:
    - countries
  Country:
    title: Countries
    type: object
    properties:
      id:
        description: 'Идентификатор'
        example: 233
        type: integer
      title:
        description: 'Название страны'
        example: 'Россия'
        type: string
      code:
        description: 'Код страны'
        example: 'russia'
        type: string
  Countries:
    title: Countries
    example:
      shops:
      - id: 37967
        title: 'Россия'
        code: 'russia'
      - id: 37967
        title: 'Россия'
        code: 'russia'
    type: object
    properties:
      countries:
        description: 'Список стран'
        example:
        - id: 37967
          title: 'Россия'
          code: 'russia'
        - id: 37967
          title: 'Россия'
          code: 'russia'
        type: array
        items:
          $ref: '#/definitions/Country'
    required:
    - countries